# Подготовка

In [ ]:
import sys
!{sys.executable} -m pip install catboost mljar-supervised scikit-multilearn

Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (1.0.6)
Requirement already satisfied: mljar-supervised in /usr/local/lib/python3.7/dist-packages (0.11.2)
Requirement already satisfied: scikit-multilearn in /usr/local/lib/python3.7/dist-packages (0.2.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2022.1)
Requirement already satisfied: seaborn>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from mljar-supervised) (0.11.2)
Requirement already satisfied: dtreeviz>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from mljar-supervised) (1.3.6)
Requirement already satisfied: category-encoders>=2.2.2 in /usr/local/lib/python3.7/dist-packages (from mljar-supervised) (2.4.1)
Requirement already satisfied: joblib>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from mljar-supervised) (1.1.0)
Requirement already satisfied: scikit-learn>=1.0 in /usr/local/lib/python3.7/dist-packages (from mljar-supervised) (1.0.2)
Requirement already satisfied: tabulate>=0.8.7 in /usr/local/lib/python3.7/dist-packages (from mljar-supervised) (0.8.9)
Requirement already satisfied: markdown in /usr/local/lib/python3.7/dist-packages (from mljar-supervised) (3.3.7)
Requirement already satisfied: wordcloud>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from mljar-supervised) (1.8.1)
Requirement already satisfied: scikit-plot==0.3.7 in /usr/local/lib/python3.7/dist-packages (from mljar-supervised) (0.3.7)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from mljar-supervised) (4.2.0)
Requirement already satisfied: shap==0.36.0 in /usr/local/lib/python3.7/dist-packages (from mljar-supervised) (0.36.0)
Requirement already satisfied: xgboost>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from mljar-supervised) (1.6.1)
Requirement already satisfied: lightgbm>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mljar-supervised) (3.3.2)
Requirement already satisfied: optuna>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from mljar-supervised) (2.10.0)
Requirement already satisfied: numba in /usr/local/lib/python3.7/dist-packages (from shap==0.36.0->mljar-supervised) (0.51.2)
Requirement already satisfied: slicer in /usr/local/lib/python3.7/dist-packages (from shap==0.36.0->mljar-supervised) (0.0.7)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.7/dist-packages (from shap==0.36.0->mljar-supervised) (4.64.0)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category-encoders>=2.2.2->mljar-supervised) (0.5.2)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders>=2.2.2->mljar-supervised) (0.10.2)
Requirement already satisfied: pytest in /usr/local/lib/python3.7/dist-packages (from dtreeviz>=1.3.3->mljar-supervised) (3.6.4)
Requirement already satisfied: colour in /usr/local/lib/python3.7/dist-packages (from dtreeviz>=1.3.3->mljar-supervised) (0.1.5)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from lightgbm>=3.0.0->mljar-supervised) (0.37.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: colorlog in /usr/local/lib/python3.7/dist-packages (from optuna>=2.7.0->mljar-supervised) (6.6.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna>=2.7.0->mljar-supervised) (21.3)
Requirement already satisfied: cmaes>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from optuna>=2.7.0->mljar-supervised) (0.8.2)
Requirement already satisfied: alembic in /usr/local/lib/python3.7/dist-packages (from optuna>=2.7.0->mljar-supervised) (1.7.7)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna>=2.7.0->mljar-supervised) (1.4.36)
Requirement already satisfied: cliff in /usr/local/lib/python3.7/dist-packages (from optuna>=2.7.0->mljar-supervised) (3.10.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from optuna>=2.7.0->mljar-supervised) (3.13)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0->mljar-supervised) (3.1.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna>=2.7.0->mljar-supervised) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna>=2.7.0->mljar-supervised) (4.11.3)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from wordcloud>=1.8.1->mljar-supervised) (7.1.2)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna>=2.7.0->mljar-supervised) (5.7.1)
Requirement already satisfied: Mako in /usr/local/lib/python3.7/dist-packages (from alembic->optuna>=2.7.0->mljar-supervised) (1.2.0)
Requirement already satisfied: cmd2>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna>=2.7.0->mljar-supervised) (2.4.1)
Requirement already satisfied: autopage>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna>=2.7.0->mljar-supervised) (0.5.0)
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna>=2.7.0->mljar-supervised) (3.3.0)
Requirement already satisfied: stevedore>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna>=2.7.0->mljar-supervised) (3.5.0)
Requirement already satisfied: pbr!=2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna>=2.7.0->mljar-supervised) (5.9.0)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna>=2.7.0->mljar-supervised) (21.4.0)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna>=2.7.0->mljar-supervised) (0.2.5)
Requirement already satisfied: pyperclip>=1.6 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna>=2.7.0->mljar-supervised) (1.8.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.1.0->optuna>=2.7.0->mljar-supervised) (3.8.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic->optuna>=2.7.0->mljar-supervised) (2.0.1)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba->shap==0.36.0->mljar-supervised) (0.34.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba->shap==0.36.0->mljar-supervised) (57.4.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.0.1)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest->dtreeviz>=1.3.3->mljar-supervised) (1.4.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.7/dist-packages (from pytest->dtreeviz>=1.3.3->mljar-supervised) (0.7.1)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest->dtreeviz>=1.3.3->mljar-supervised) (8.13.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest->dtreeviz>=1.3.3->mljar-supervised) (1.11.0)

In [ ]:
# !pip install -q -U git+https://github.com/mljar/mljar-supervised.git@master

In [ ]:
# !pip install lightautoml

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/Olymps/tochka

/content/drive/MyDrive/Olymps/tochka

In [ ]:
# !unzip -q AutoMLs.zip

In [ ]:
import random
import numpy as np
import pandas as pd
import catboost as cb
import sklearn.utils as sku
from skmultilearn.model_selection import iterative_train_test_split
import os
import json
from sklearn.metrics import fbeta_score, classification_report

In [ ]:
from supervised.automl import AutoML

pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
# from lightautoml.automl.presets.tabular_presets import TabularAutoML, TabularUtilizedAutoML
# from lightautoml.tasks import Task
# from lightautoml.report.report_deco import ReportDeco

In [ ]:
SEED = 56

random.seed(SEED)
np.random.seed(SEED)

In [ ]:
PAYMENTS_TRAIN_PATH = 'data/payments_train.csv'
TARGET_TRAIN_PATH = 'data/target_train.csv'
PAYMENTS_TEST_PATH = 'data/payments_test.csv'
CLIENT_ID_TEST_PATH = 'data/client_id_test.csv'

# Загружаем датасет

In [ ]:
payments_dtypes = {
    'client_id': str,
    'contractor_id': str,
    'is_outgoing': bool,
    'amount': 'uint64',
    'dt_day': 'uint16',
    'dt_hour': 'uint8',
    'channel': pd.CategoricalDtype()
}
for i in range(12):
    payments_dtypes[f'flag_{i}'] = bool
payments_dtypes

{'amount': 'uint64',
 'channel': CategoricalDtype(categories=None, ordered=False),
 'client_id': str,
 'contractor_id': str,
 'dt_day': 'uint16',
 'dt_hour': 'uint8',
 'flag_0': bool,
 'flag_1': bool,
 'flag_10': bool,
 'flag_11': bool,
 'flag_2': bool,
 'flag_3': bool,
 'flag_4': bool,
 'flag_5': bool,
 'flag_6': bool,
 'flag_7': bool,
 'flag_8': bool,
 'flag_9': bool,
 'is_outgoing': bool}

In [ ]:
payments = pd.read_csv(PAYMENTS_TRAIN_PATH, dtype=payments_dtypes)
payments

,client_id,contractor_id,is_outgoing,amount,dt_day,dt_hour,channel,flag_0,flag_1,flag_2,flag_3,flag_4,flag_5,flag_6,flag_7,flag_8,flag_9,flag_10,flag_11
0,569703,NaN,True,8674442,56,12,app,False,False,False,False,False,False,False,False,False,False,False,False
1,696595,3920,True,5714350,311,19,web,False,False,False,False,False,False,False,False,False,False,False,False
2,368467,NaN,True,3720501,175,13,NaN,False,False,False,True,False,False,False,False,False,False,False,False
3,421133,NaN,True,311542,68,14,NaN,False,False,False,True,False,False,False,False,False,False,False,False
4,365044,24686,True,705918747,171,15,app,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25937985,532940,NaN,True,904019,122,1,pos,True,False,False,False,False,False,False,False,False,False,False,False
25937986,923040,NaN,False,27261705,94,12,NaN,False,False,False,False,False,False,False,False,False,False,False,True
25937987,807703,58960,False,18409310,119,13,NaN,False,False,False,False,False,False,False,False,False,False,False,True
25937988,890561,NaN,True,7132,213,8,NaN,False,False,False,True,False,False,False,False,False,False,False,False
25937989,362541,NaN,False,8627951,185,2,NaN,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
target_dtypes = {
    'client_id': str
}
for i in range(35):
    target_dtypes[f'type_{i}'] = int
target_dtypes

{'client_id': str,
 'type_0': int,
 'type_1': int,
 'type_10': int,
 'type_11': int,
 'type_12': int,
 'type_13': int,
 'type_14': int,
 'type_15': int,
 'type_16': int,
 'type_17': int,
 'type_18': int,
 'type_19': int,
 'type_2': int,
 'type_20': int,
 'type_21': int,
 'type_22': int,
 'type_23': int,
 'type_24': int,
 'type_25': int,
 'type_26': int,
 'type_27': int,
 'type_28': int,
 'type_29': int,
 'type_3': int,
 'type_30': int,
 'type_31': int,
 'type_32': int,
 'type_33': int,
 'type_34': int,
 'type_4': int,
 'type_5': int,
 'type_6': int,
 'type_7': int,
 'type_8': int,
 'type_9': int}

In [ ]:
target = pd.read_csv(TARGET_TRAIN_PATH, dtype=target_dtypes).set_index('client_id')
target

,type_0,type_1,type_2,type_3,type_4,type_5,type_6,type_7,type_8,type_9,...,type_25,type_26,type_27,type_28,type_29,type_30,type_31,type_32,type_33,type_34
client_id,,,,,,,,,,,,,,,,,,,,,
775943,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
992314,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255821,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,1,0
188791,0,0,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,1,0,0,0
46092,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20306,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
406742,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,0,0,0,0
242611,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
469847,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,1,1,0,1,0
852711,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0

## Feature Engineering

In [ ]:
def generate_features(pay):
    pay = pay.join(pd.get_dummies(pay['channel']))
    pay = pay.join(pd.get_dummies(pay['is_outgoing']))
    pay.rename(columns={True: 'out', False: 'in'}, inplace=True)
    print(pay)

    fts = pay.groupby('client_id')['amount'].agg(['mean', 'median', 'std', 'min', 'max'])
    fts = fts.join(pay.groupby('client_id')['dt_day'].agg(['std']), 
               how='left', lsuffix='_left', rsuffix='_right')
    fts = fts.join(pay.groupby('client_id')['dt_hour'].agg(['std']), 
               how='left', lsuffix='_left', rsuffix='_right')
    fts[[f'flag_{i}_count' for i in range(12)]] = pay.groupby('client_id')[[f'flag_{i}' for i in range(12)]].sum()
    fts[['app', 'atm', 'pos', 'web']] = pay.groupby('client_id')[['app', 'atm', 'pos', 'web']].sum()
    fts[['in', 'out']] = pay.groupby('client_id')[['in', 'out']].sum()
    fts['sub'] = np.subtract(fts['max'], fts['min'], dtype=np.float32)
    fts['mm'] = np.subtract(fts['mean'], fts['median'], dtype=np.float32)
    fts['total'] = fts[['app', 'atm', 'pos', 'web']].sum(axis=1)
    fts['total_flags'] = fts[[f'flag_{i}_count' for i in range(12)]].sum(axis=1)

    return fts

In [ ]:
features = generate_features(payments)
features

         client_id contractor_id  is_outgoing     amount  dt_day  dt_hour  \
0           569703           NaN         True    8674442      56       12
1           696595          3920         True    5714350     311       19
2           368467           NaN         True    3720501     175       13
3           421133           NaN         True     311542      68       14
4           365044         24686         True  705918747     171       15
...            ...           ...          ...        ...     ...      ...
25937985    532940           NaN         True     904019     122        1
25937986    923040           NaN        False   27261705      94       12
25937987    807703         58960        False   18409310     119       13
25937988    890561           NaN         True       7132     213        8
25937989    362541           NaN        False    8627951     185        2

         channel  flag_0  flag_1  flag_2  ...  flag_8  flag_9  flag_10  \
0            app   False   False   False  ...   False   False    False
1            web   False   False   False  ...   False   False    False
2            NaN   False   False   False  ...   False   False    False
3            NaN   False   False   False  ...   False   False    False
4            app   False   False   False  ...   False   False    False
...          ...     ...     ...     ...  ...     ...     ...      ...
25937985     pos    True   False   False  ...   False   False    False
25937986     NaN   False   False   False  ...   False   False    False
25937987     NaN   False   False   False  ...   False   False    False
25937988     NaN   False   False   False  ...   False   False    False
25937989     NaN   False   False   False  ...   False   False    False

          flag_11  app  atm  pos  web  in  out
0           False    1    0    0    0   0    1
1           False    0    0    0    1   0    1
2           False    0    0    0    0   0    1
3           False    0    0    0    0   0    1
4           False    1    0    0    0   0    1
...           ...  ...  ...  ...  ...  ..  ...
25937985    False    0    0    1    0   0    1
25937986     True    0    0    0    0   1    0
25937987     True    0    0    0    0   1    0
25937988    False    0    0    0    0   0    1
25937989    False    0    0    0    0   1    0

[25937990 rows x 25 columns]

,mean,median,std_left,min,max,std_right,std,flag_0_count,flag_1_count,flag_2_count,...,app,atm,pos,web,in,out,sub,mm,total,total_flags
client_id,,,,,,,,,,,,,,,,,,,,,
100045,8.362072e+06,1706470.0,1.733687e+07,22,124737631,119.830912,6.193097,203,0,60,...,1.0,54.0,121.0,17.0,101.0,376.0,124737609,6.655602e+06,193.0,320
100055,2.201262e+07,4010524.0,6.029931e+07,2238,766121312,114.166663,5.061865,206,0,42,...,0.0,79.0,99.0,158.0,136.0,515.0,766119074,1.800210e+07,336.0,538
100068,3.782283e+07,3232108.0,8.493012e+07,34043,681967564,44.190426,5.491089,394,0,22,...,37.0,22.0,320.0,14.0,62.0,457.0,681933521,3.459072e+07,393.0,461
100076,1.155591e+07,1522173.0,3.589745e+07,29,255864840,42.746639,6.759718,63,0,11,...,6.0,10.0,26.0,7.0,9.0,84.0,255864811,1.003374e+07,49.0,102
100089,3.065695e+07,21997923.0,4.485693e+07,1519,645257028,107.477730,7.547993,264,0,52,...,243.0,62.0,92.0,21.0,925.0,659.0,645255509,8.659025e+06,418.0,1362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99975,5.391718e+07,1333079.0,1.590713e+08,4660,859557956,43.546906,5.764104,20,0,1,...,1.0,2.0,0.0,0.0,5.0,45.0,859553296,5.258410e+07,3.0,50
999759,2.389214e+08,1465890.0,1.122544e+09,4742,6612336710,110.050365,6.584230,158,0,0,...,0.0,0.0,135.0,12.0,46.0,227.0,6612331968,2.374555e+08,147.0,178
999784,3.565689e+08,18552982.0,7.886591e+08,28594,3594312408,81.121899,5.430926,0,0,0,...,2.0,0.0,0.0,41.0,16.0,69.0,3594283814,3.380159e+08,43.0,56
99979,1.119933e+07,3683703.5,1.871622e+07,24390,103498839,101.309568,8.131657,37,0,4,...,1.0,4.0,30.0,12.0,14.0,60.0,103474449,7.515622e+06,47.0,67
99999,1.417580e+08,22636918.0,2.734015e+08,755,2298884510,95.333004,4.363427,23,0,11,...,31.0,12.0,0.0,84.0,65.0,266.0,2298883755,1.191210e+08,127.0,287

## Разбиение датасета на train / val

Реализуем функцию для разбиения датасета на обучающую и валидационную выборки в пропорциях 85%/15% соответвенно, примерно сохраняя распределение таргетов в обеих выборках. Из соображений быстродействия и детерминированности будем кешировать разбиение в JSON-файл. 

Для стратификации используется функция [iterative_train_test_split](http://scikit.ml/_modules/skmultilearn/model_selection/iterative_stratification.html#iterative_train_test_split) из библиотечки scikit-multilearn.

In [ ]:
def stratified_split_cached(X, y, split_idx_file):
    if os.path.isfile(split_idx_file):
        with open(split_idx_file, 'r') as f:
            split_json = json.load(f)
        train_idx, val_idx = split_json['train'], split_json['val']
    else:
        y_shuffle = sku.shuffle(y, random_state=SEED)  # https://cpb-us-e1.wpmucdn.com/journeys.dartmouth.edu/dist/8/830/files/2020/06/EIqwWwsX0AAeh-o.jpeg
        train_idx, _, val_idx, _ = iterative_train_test_split(np.expand_dims(y_shuffle.index, 1), np.array(y_shuffle), test_size=0.05)
        train_idx, val_idx = train_idx.squeeze(1), val_idx.squeeze(1)
        with open(split_idx_file, 'w') as f:
            json.dump({'train': list(train_idx), 'val': list(val_idx)}, f)
    return X.loc[train_idx], y.loc[train_idx], X.loc[val_idx], y.loc[val_idx]

In [ ]:
cache = 'split_cache_3.json'
X_train, y_train, X_val, y_val = stratified_split_cached(features, target, cache)

In [ ]:
X_train.shape

(60378, 29)

In [ ]:
temp = X_train
temp = temp.join(y_train)
temp

,mean,median,std_left,min,max,std_right,std,flag_0_count,flag_1_count,flag_2_count,...,type_25,type_26,type_27,type_28,type_29,type_30,type_31,type_32,type_33,type_34
client_id,,,,,,,,,,,,,,,,,,,,,
469347,3.544950e+07,13163196.5,7.754265e+07,12380,1098312208,108.508350,5.742443,57,0,35,...,0,0,0,0,0,1,0,0,0,0
438388,2.085516e+07,2544355.5,3.834703e+07,2409,170421023,87.565945,6.509380,97,0,21,...,0,0,1,0,0,1,0,0,0,1
190365,1.506990e+07,2655680.0,5.225610e+07,37331,671071999,64.844801,6.554789,334,0,10,...,1,1,0,0,0,0,1,0,0,0
410390,2.424419e+07,11531806.0,4.460235e+07,100115,220204345,103.452385,6.367848,0,0,0,...,0,0,0,1,0,1,0,0,1,0
517381,5.120096e+07,5231211.5,7.478513e+07,153,199978074,91.157072,6.152720,4,0,0,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399347,3.668457e+07,4704610.0,6.428507e+07,63384,357004808,125.030299,4.240102,22,0,21,...,0,0,0,0,0,1,0,0,1,0
470557,4.295133e+07,1210504.0,8.892837e+07,2928,506319917,58.239720,5.146303,2,0,0,...,0,0,0,0,0,0,0,0,0,0
42811,5.099055e+07,3634531.0,1.492271e+08,88,991314308,94.376220,6.870176,151,41,17,...,0,0,0,0,0,0,0,0,0,0
13295,8.344495e+07,43596376.0,9.804225e+07,126701,475272294,109.310254,4.968923,1,0,0,...,0,0,0,0,0,1,0,1,1,0
184837,1.484021e+08,24501955.5,2.715736e+08,61967,1282574271,110.650066,3.553728,5,0,2,...,0,0,0,0,0,0,0,1,1,0

In [ ]:
# col = 'type_0'
feat = 'total_flags'
imps = []
for i in range(35):
    imps.append(temp.corr().sort_values([f'type_{i}'], ascending=False)[f'type_{i}'][feat])
print(sum(imps) / 35, min(imps), max(imps))

-0.008657623372820097 -0.04426022099160501 0.11071837757495642

In [ ]:
col = 'type_22'
temp.corr().sort_values([col], ascending=False)[col].iloc[:15]

type_22         1.000000
type_11         0.499614
type_34         0.214233
type_24         0.209601
type_12         0.183180
type_0          0.154214
type_5          0.116024
type_13         0.093855
flag_3_count    0.084315
type_18         0.074300
atm             0.074244
app             0.070226
total           0.065331
flag_2_count    0.062142
out             0.060654
Name: type_22, dtype: float64

# Catboost 3x Ensemble

In [ ]:
def make_pool(X, y=None):
    return cb.Pool(X, y)

In [ ]:
models = []
models_inv = []
clfs = []

X_train, y_train, X_val, y_val = stratified_split_cached(features, target, cache)

for i in range(35):
    print('\nFitting model', i)
    # print(X_train.columns)
    if i == 0 or i == 30:
        lr = 0.15
    else:
        lr = 0.45
    model = cb.CatBoostClassifier(loss_function='Logloss', random_seed=SEED, learning_rate=lr, 
                                  l2_leaf_reg=500, bagging_temperature=100) # iterations=400, learning_rate=0.1, bagging_temperature=2 l2_leaf_reg=1, learning_rate=0.1)
    smote = SMOTE()
    X_sm, y_sm = smote.fit_resample(X_train, y_train[f'type_{i}'])
    print('Data augmented')
    print(y_sm.value_counts())
    pool_train, pool_val = make_pool(X_sm, y_sm), make_pool(X_val, y_val[f'type_{i}'])
    model.fit(pool_train, eval_set=pool_val, plot=False, verbose=100)
    models.append(model)

    model_inv = cb.CatBoostClassifier(loss_function='Logloss', random_seed=SEED, learning_rate=lr, # iterations=200, learning_rate=0.1, 
                                      l2_leaf_reg=200, bagging_temperature=20)
    idk = pd.DataFrame()
    idk_val = pd.DataFrame()
    idk[f'type_{i}_inv'] = y_sm.replace({0: 1, 1: 0})
    idk_val[f'type_{i}_inv'] = y_val[f'type_{i}'].replace({0: 1, 1: 0})
    pool_train, pool_val = make_pool(X_sm, idk[f'type_{i}_inv']), make_pool(X_val, idk_val[f'type_{i}_inv'])
    model_inv.fit(pool_train, eval_set=pool_val, plot=False, verbose=100)
    models_inv.append(model_inv)

    preds = np.array(y_train[f'type_{i}']) #.transpose(1, 0)
    print(np.array(model.predict_proba(X_train)).shape)
    probs = pd.DataFrame(np.array(model.predict_proba(X_train))) #.transpose(1, 2, 0).reshape(X_train.shape[0], 70))
    probs_inv = pd.DataFrame(np.array(model_inv.predict_proba(X_train))).rename(columns={0: 2, 1: 3}) #.transpose(1, 2, 0).reshape(X_train.shape[0], 70))
    df = pd.concat([probs, probs_inv], axis=1)
    thresh = int(len(preds) * 0.85)
    clf = cb.CatBoostClassifier(iterations=300, loss_function='Logloss', random_seed=SEED, learning_rate=0.1, 
                                l2_leaf_reg=100, bagging_temperature=10)
    pool_train, pool_val = make_pool(df[:thresh], preds[:thresh]), make_pool(df[thresh:], preds[thresh:]) 
    clf.fit(pool_train, eval_set=pool_val, plot=False, verbose=100)
    clfs.append(clf)

    X_train[f'type_{i}'] = y_train[f'type_{i}'] # model.predict(X_train)
    # X_train[f'type_{i}_inv'] = y_train[f'type_{i}_inv']
    probs = pd.DataFrame(np.array(model.predict_proba(X_val))) #.transpose(1, 2, 0).reshape(X_train.shape[0], 70))
    probs_inv = pd.DataFrame(np.array(model_inv.predict_proba(X_val))).rename(columns={0: 2, 1: 3})
    df = pd.concat([probs, probs_inv], axis=1)
    X_val[f'type_{i}'] = clf.predict(df)
    # X_val[f'type_{i}_inv'] = model_inv.predict(X_val)
    print('fbeta:', fbeta_score(y_val[f'type_{i}'], X_val[f'type_{i}'], beta=0.5, average='micro', zero_division=0))
    print(X_val[f'type_{i}'].value_counts())
    print(y_val[f'type_{i}'].value_counts())

    # break

Fitting model 0
Data augmented
1    39896
0    39896
Name: type_0, dtype: int64
0:	learn: 0.6757652	test: 0.6796539	best: 0.6796539 (0)	total: 33.9ms	remaining: 33.9s
100:	learn: 0.5560469	test: 0.6137052	best: 0.6134515 (98)	total: 3.22s	remaining: 28.7s
200:	learn: 0.5338798	test: 0.6085726	best: 0.6084084 (186)	total: 6.23s	remaining: 24.8s
300:	learn: 0.5155405	test: 0.6046349	best: 0.6045496 (298)	total: 9.29s	remaining: 21.6s
400:	learn: 0.5052104	test: 0.6031332	best: 0.6031332 (400)	total: 12.4s	remaining: 18.5s
500:	learn: 0.4982281	test: 0.6030522	best: 0.6027751 (465)	total: 15.4s	remaining: 15.3s
600:	learn: 0.4919953	test: 0.6025584	best: 0.6024738 (589)	total: 18.4s	remaining: 12.2s
700:	learn: 0.4848874	test: 0.6014755	best: 0.6013547 (692)	total: 21.5s	remaining: 9.16s
800:	learn: 0.4789292	test: 0.6021543	best: 0.6013547 (692)	total: 24.6s	remaining: 6.12s
900:	learn: 0.4733572	test: 0.6024748	best: 0.6013547 (692)	total: 27.6s	remaining: 3.04s
999:	learn: 0.4686314	test: 0.6025091	best: 0.6013547 (692)	total: 30.9s	remaining: 0us

bestTest = 0.6013546605
bestIteration = 692

Shrink model to first 693 iterations.
0:	learn: 0.6755488	test: 0.6793989	best: 0.6793989 (0)	total: 39.3ms	remaining: 39.3s
100:	learn: 0.5447633	test: 0.6125349	best: 0.6124439 (99)	total: 3.51s	remaining: 31.2s
200:	learn: 0.5186124	test: 0.6061338	best: 0.6061338 (200)	total: 6.53s	remaining: 26s
300:	learn: 0.5025312	test: 0.6032086	best: 0.6031599 (280)	total: 9.57s	remaining: 22.2s
400:	learn: 0.4899849	test: 0.6007149	best: 0.6006764 (397)	total: 12.6s	remaining: 18.9s
500:	learn: 0.4814534	test: 0.6003785	best: 0.6002632 (494)	total: 16.4s	remaining: 16.4s
600:	learn: 0.4742037	test: 0.6004555	best: 0.5997949 (529)	total: 19.7s	remaining: 13.1s
700:	learn: 0.4667459	test: 0.5998976	best: 0.5997949 (529)	total: 22.7s	remaining: 9.7s
800:	learn: 0.4605442	test: 0.5991899	best: 0.5989060 (787)	total: 25.7s	remaining: 6.39s
900:	learn: 0.4544472	test: 0.5993857	best: 0.5988841 (814)	total: 28.7s	remaining: 3.15s
999:	learn: 0.4487876	test: 0.5996041	best: 0.5988841 (814)	total: 34.8s	remaining: 0us

bestTest = 0.598884109
bestIteration = 814

Shrink model to first 815 iterations.
(63682, 2)
0:	learn: 0.6592941	test: 0.6591140	best: 0.6591140 (0)	total: 32.2ms	remaining: 9.63s
100:	learn: 0.5171340	test: 0.5173273	best: 0.5173273 (100)	total: 4.67s	remaining: 9.21s
200:	learn: 0.5146435	test: 0.5168101	best: 0.5166620 (175)	total: 6.08s	remaining: 2.99s
299:	learn: 0.5129184	test: 0.5170617	best: 0.5166620 (175)	total: 7.52s	remaining: 0us

bestTest = 0.5166620276
bestIteration = 175

Shrink model to first 176 iterations.
fbeta: 0.6704784832982245
0    2335
1     988
Name: type_0, dtype: int64
0    2064
1    1259
Name: type_0, dtype: int64

Fitting model 1
Data augmented
0    57898
1    57898
Name: type_1, dtype: int64
0:	learn: 0.6077540	test: 0.6272322	best: 0.6272322 (0)	total: 48ms	remaining: 48s
100:	learn: 0.2615533	test: 0.3651788	best: 0.3651788 (100)	total: 4.22s	remaining: 37.6s
200:	learn: 0.2221063	test: 0.3443151	best: 0.3443151 (200)	total: 8.59s	remaining: 34.1s
300:	learn: 0.2033160	test: 0.3384783	best: 0.3382910 (298)	total: 13s	remaining: 30.2s
400:	learn: 0.1939173	test: 0.3363263	best: 0.3363209 (355)	total: 16.8s	remaining: 25.1s
500:	learn: 0.1865883	test: 0.3346839	best: 0.3346642 (495)	total: 21.5s	remaining: 21.4s
600:	learn: 0.1815516	test: 0.3351324	best: 0.3345210 (521)	total: 25.3s	remaining: 16.8s
700:	learn: 0.1769597	test: 0.3338307	best: 0.3336167 (698)	total: 28.9s	remaining: 12.3s
800:	learn: 0.1732874	test: 0.3344301	best: 0.3336159 (705)	total: 32.6s	remaining: 8.1s
900:	learn: 0.1690042	test: 0.3341226	best: 0.3336159 (705)	total: 36.6s	remaining: 4.02s
999:	learn: 0.1657721	test: 0.3339660	best: 0.3336159 (705)	total: 40.1s	remaining: 0us

bestTest = 0.3336159414
bestIteration = 705

Shrink model to first 706 iterations.
0:	learn: 0.6011906	test: 0.6224653	best: 0.6224653 (0)	total: 42.4ms	remaining: 42.3s
100:	learn: 0.2457329	test: 0.3628356	best: 0.3625959 (98)	total: 4.44s	remaining: 39.5s
200:	learn: 0.2072760	test: 0.3441092	best: 0.3441092 (200)	total: 8.65s	remaining: 34.4s
300:	learn: 0.1944104	test: 0.3395315	best: 0.3394921 (295)	total: 12.7s	remaining: 29.4s
400:	learn: 0.1828736	test: 0.3385174	best: 0.3380289 (372)	total: 16.8s	remaining: 25s
500:	learn: 0.1790832	test: 0.3381198	best: 0.3380289 (372)	total: 20.2s	remaining: 20.2s
600:	learn: 0.1710792	test: 0.3363041	best: 0.3359545 (559)	total: 24.2s	remaining: 16.1s
700:	learn: 0.1611536	test: 0.3359768	best: 0.3353950 (689)	total: 28.5s	remaining: 12.2s
800:	learn: 0.1550268	test: 0.3369587	best: 0.3351999 (703)	total: 32.6s	remaining: 8.1s
900:	learn: 0.1510504	test: 0.3372693	best: 0.3351999 (703)	total: 36.3s	remaining: 3.99s
999:	learn: 0.1452365	test: 0.3379369	best: 0.3351999 (703)	total: 40s	remaining: 0us

bestTest = 0.3351998594
bestIteration = 703

Shrink model to first 704 iterations.
(63682, 2)
0:	learn: 0.5721679	test: 0.5716118	best: 0.5716118 (0)	total: 15ms	remaining: 4.49s
100:	learn: 0.2346266	test: 0.2331366	best: 0.2330885 (67)	total: 1.47s	remaining: 2.9s
200:	learn: 0.2329022	test: 0.2337201	best: 0.2330885 (67)	total: 2.88s	remaining: 1.42s
299:	learn: 0.2315976	test: 0.2338153	best: 0.2330885 (67)	total: 4.29s	remaining: 0us

bestTest = 0.2330885284
bestIteration = 67

Shrink model to first 68 iterations.
fbeta: 0.8919650917845321
0    3263
1      60
Name: type_1, dtype: int64
0    2996
1     327
Name: type_1, dtype: int64

Fitting model 2
Data augmented
0    52361
1    52361
Name: type_2, dtype: int64
0:	learn: 0.5891027	test: 0.6434706	best: 0.6434706 (0)	total: 38.1ms	remaining: 38s
100:	learn: 0.3429673	test: 0.4954121	best: 0.4954121 (100)	total: 3.79s	remaining: 33.7s
200:	learn: 0.3176010	test: 0.4818791	best: 0.4815906 (191)	total: 7.43s	remaining: 29.5s
300:	learn: 0.3081281	test: 0.4807324	best: 0.4804067 (297)	total: 10.7s	remaining: 25s
400:	learn: 0.2960877	test: 0.4783580	best: 0.4778582 (388)	total: 14.4s	remaining: 21.5s
500:	learn: 0.2882713	test: 0.4771506	best: 0.4769176 (447)	total: 18.5s	remaining: 18.4s
600:	learn: 0.2811069	test: 0.4761329	best: 0.4761249 (599)	total: 22.3s	remaining: 14.8s
700:	learn: 0.2747317	test: 0.4748034	best: 0.4747191 (698)	total: 25.7s	remaining: 11s
800:	learn: 0.2683808	test: 0.4744178	best: 0.4741441 (790)	total: 29.2s	remaining: 7.25s
900:	learn: 0.2628763	test: 0.4757291	best: 0.4740311 (806)	total: 33.9s	remaining: 3.73s
999:	learn: 0.2571242	test: 0.4763365	best: 0.4740311 (806)	total: 37.7s	remaining: 0us

bestTest = 0.4740310585
bestIteration = 806

Shrink model to first 807 iterations.
0:	learn: 0.5859976	test: 0.6430569	best: 0.6430569 (0)	total: 39ms	remaining: 38.9s
100:	learn: 0.3422484	test: 0.4983238	best: 0.4983238 (100)	total: 3.79s	remaining: 33.8s
200:	learn: 0.3047829	test: 0.4806284	best: 0.4806284 (200)	total: 7.45s	remaining: 29.6s
300:	learn: 0.2895742	test: 0.4747878	best: 0.4744736 (274)	total: 11.1s	remaining: 25.7s
400:	learn: 0.2792801	test: 0.4737496	best: 0.4729950 (388)	total: 14.5s	remaining: 21.7s
500:	learn: 0.2697179	test: 0.4747388	best: 0.4729950 (388)	total: 18.1s	remaining: 18s
600:	learn: 0.2588187	test: 0.4740274	best: 0.4729950 (388)	total: 22.2s	remaining: 14.7s
700:	learn: 0.2489636	test: 0.4757447	best: 0.4729950 (388)	total: 25.8s	remaining: 11s
800:	learn: 0.2394896	test: 0.4746042	best: 0.4729950 (388)	total: 29.4s	remaining: 7.3s
900:	learn: 0.2309466	test: 0.4756564	best: 0.4729950 (388)	total: 33.1s	remaining: 3.64s
999:	learn: 0.2231277	test: 0.4762335	best: 0.4729950 (388)	total: 36.7s	remaining: 0us

bestTest = 0.4729950377
bestIteration = 388

Shrink model to first 389 iterations.
(63682, 2)
0:	learn: 0.6186188	test: 0.6187784	best: 0.6187784 (0)	total: 13.7ms	remaining: 4.1s
100:	learn: 0.3785982	test: 0.3813476	best: 0.3811673 (60)	total: 1.38s	remaining: 2.72s
200:	learn: 0.3765067	test: 0.3820030	best: 0.3811673 (60)	total: 2.8s	remaining: 1.38s
299:	learn: 0.3748068	test: 0.3824722	best: 0.3811673 (60)	total: 4.18s	remaining: 0us

bestTest = 0.3811672689
bestIteration = 60

Shrink model to first 61 iterations.
fbeta: 0.8107132109539573
0    3152
1     171
Name: type_2, dtype: int64
0    2713
1     610
Name: type_2, dtype: int64

Fitting model 3
Data augmented
0    60343
1    60343
Name: type_3, dtype: int64
0:	learn: 0.5683193	test: 0.6214437	best: 0.6214437 (0)	total: 45.1ms	remaining: 45.1s
100:	learn: 0.2149689	test: 0.2957126	best: 0.2956882 (99)	total: 4.15s	remaining: 36.9s
200:	learn: 0.1701635	test: 0.2604299	best: 0.2603872 (199)	total: 8.27s	remaining: 32.9s
300:	learn: 0.1530279	test: 0.2516102	best: 0.2516093 (299)	total: 12.2s	remaining: 28.4s
400:	learn: 0.1440180	test: 0.2465233	best: 0.2461333 (399)	total: 16s	remaining: 23.8s
500:	learn: 0.1352515	test: 0.2434893	best: 0.2432781 (498)	total: 20s	remaining: 19.9s
600:	learn: 0.1286632	test: 0.2408373	best: 0.2408373 (600)	total: 23.7s	remaining: 15.8s
700:	learn: 0.1233988	test: 0.2401940	best: 0.2399484 (673)	total: 27.4s	remaining: 11.7s
800:	learn: 0.1188624	test: 0.2384170	best: 0.2384170 (800)	total: 31.2s	remaining: 7.74s
900:	learn: 0.1170839	test: 0.2380532	best: 0.2380532 (900)	total: 34.5s	remaining: 3.8s
999:	learn: 0.1147527	test: 0.2382106	best: 0.2376659 (918)	total: 38.1s	remaining: 0us

bestTest = 0.2376659048
bestIteration = 918

Shrink model to first 919 iterations.
0:	learn: 0.5624950	test: 0.6190430	best: 0.6190430 (0)	total: 40.7ms	remaining: 40.6s
100:	learn: 0.1931707	test: 0.2743619	best: 0.2738947 (99)	total: 4.17s	remaining: 37.1s
200:	learn: 0.1513142	test: 0.2501383	best: 0.2500590 (199)	total: 8.34s	remaining: 33.2s
300:	learn: 0.1328800	test: 0.2431059	best: 0.2429155 (299)	total: 13.1s	remaining: 30.4s
400:	learn: 0.1212222	test: 0.2384795	best: 0.2380672 (394)	total: 17.1s	remaining: 25.6s
500:	learn: 0.1121071	test: 0.2377491	best: 0.2370710 (455)	total: 21.2s	remaining: 21.2s
600:	learn: 0.1052294	test: 0.2378338	best: 0.2370710 (455)	total: 25.4s	remaining: 16.9s
700:	learn: 0.0987751	test: 0.2382433	best: 0.2370710 (455)	total: 29.5s	remaining: 12.6s
800:	learn: 0.0942541	test: 0.2401845	best: 0.2370710 (455)	total: 33.6s	remaining: 8.34s
900:	learn: 0.0909728	test: 0.2408259	best: 0.2370710 (455)	total: 37.5s	remaining: 4.12s
999:	learn: 0.0852362	test: 0.2420701	best: 0.2370710 (455)	total: 41.7s	remaining: 0us

bestTest = 0.2370709507
bestIteration = 455

Shrink model to first 456 iterations.
(63682, 2)
0:	learn: 0.5441884	test: 0.5435707	best: 0.5435707 (0)	total: 16.1ms	remaining: 4.8s
100:	learn: 0.1594924	test: 0.1570513	best: 0.1569036 (40)	total: 1.6s	remaining: 3.15s
200:	learn: 0.1581119	test: 0.1574088	best: 0.1569036 (40)	total: 3.06s	remaining: 1.51s
299:	learn: 0.1570695	test: 0.1577388	best: 0.1569036 (40)	total: 4.47s	remaining: 0us

bestTest = 0.1569036391
bestIteration = 40

Shrink model to first 41 iterations.
fbeta: 0.9407162202828769
0    3302
1      21
Name: type_3, dtype: int64
0    3141
1     182
Name: type_3, dtype: int64

Fitting model 4
Data augmented
0    55080
1    55080
Name: type_4, dtype: int64
0:	learn: 0.6013636	test: 0.6437416	best: 0.6437416 (0)	total: 41.5ms	remaining: 41.4s
100:	learn: 0.3187523	test: 0.4592952	best: 0.4592952 (100)	total: 3.96s	remaining: 35.2s
200:	learn: 0.2815394	test: 0.4464849	best: 0.4464849 (200)	total: 7.65s	remaining: 30.4s
300:	learn: 0.2582435	test: 0.4381939	best: 0.4381939 (300)	total: 11.5s	remaining: 26.7s
400:	learn: 0.2467839	test: 0.4360401	best: 0.4358494 (355)	total: 15.2s	remaining: 22.7s
500:	learn: 0.2361356	test: 0.4355957	best: 0.4350996 (432)	total: 19.1s	remaining: 19s
600:	learn: 0.2296262	test: 0.4342269	best: 0.4340580 (594)	total: 22.7s	remaining: 15.1s
700:	learn: 0.2227120	test: 0.4343347	best: 0.4337701 (640)	total: 26.3s	remaining: 11.2s
800:	learn: 0.2172618	test: 0.4339504	best: 0.4337701 (640)	total: 29.8s	remaining: 7.41s
900:	learn: 0.2118605	test: 0.4343621	best: 0.4333202 (819)	total: 33.4s	remaining: 3.67s
999:	learn: 0.2081459	test: 0.4342362	best: 0.4333202 (819)	total: 36.8s	remaining: 0us

bestTest = 0.4333202082
bestIteration = 819

Shrink model to first 820 iterations.
0:	learn: 0.6023649	test: 0.6446693	best: 0.6446693 (0)	total: 54.9ms	remaining: 54.9s
100:	learn: 0.2957942	test: 0.4541968	best: 0.4541968 (100)	total: 3.95s	remaining: 35.2s
200:	learn: 0.2587264	test: 0.4440411	best: 0.4436592 (196)	total: 7.79s	remaining: 31s
300:	learn: 0.2400111	test: 0.4388552	best: 0.4385985 (270)	total: 11.5s	remaining: 26.6s
400:	learn: 0.2274613	test: 0.4391008	best: 0.4384940 (318)	total: 15.1s	remaining: 22.6s
500:	learn: 0.2158358	test: 0.4397635	best: 0.4384653 (429)	total: 18.9s	remaining: 18.8s
600:	learn: 0.2056836	test: 0.4395912	best: 0.4384653 (429)	total: 22.6s	remaining: 15s
700:	learn: 0.1980206	test: 0.4422761	best: 0.4384653 (429)	total: 26.2s	remaining: 11.2s
800:	learn: 0.1916518	test: 0.4431633	best: 0.4384653 (429)	total: 29.8s	remaining: 7.41s
900:	learn: 0.1860894	test: 0.4430449	best: 0.4384653 (429)	total: 33.4s	remaining: 3.67s
999:	learn: 0.1810930	test: 0.4424386	best: 0.4384653 (429)	total: 37s	remaining: 0us

bestTest = 0.43846534
bestIteration = 429

Shrink model to first 430 iterations.
(63682, 2)
0:	learn: 0.5994393	test: 0.5987611	best: 0.5987611 (0)	total: 14.5ms	remaining: 4.32s
100:	learn: 0.3141688	test: 0.3082855	best: 0.3080375 (62)	total: 1.43s	remaining: 2.81s
200:	learn: 0.3121444	test: 0.3091410	best: 0.3080375 (62)	total: 2.81s	remaining: 1.38s
299:	learn: 0.3104404	test: 0.3097131	best: 0.3080375 (62)	total: 4.18s	remaining: 0us

bestTest = 0.3080374612
bestIteration = 62

Shrink model to first 63 iterations.
fbeta: 0.8356906409870599
0    3244
1      79
Name: type_4, dtype: int64
0    2810
1     513
Name: type_4, dtype: int64

Fitting model 5
Data augmented
0    46768
1    46768
Name: type_5, dtype: int64
0:	learn: 0.6018259	test: 0.6747152	best: 0.6747152 (0)	total: 34.9ms	remaining: 34.9s
100:	learn: 0.3835435	test: 0.5801323	best: 0.5801323 (100)	total: 3.44s	remaining: 30.6s
200:	learn: 0.3538527	test: 0.5657087	best: 0.5656629 (198)	total: 6.92s	remaining: 27.5s
300:	learn: 0.3390237	test: 0.5653461	best: 0.5645398 (218)	total: 10.3s	remaining: 23.9s
400:	learn: 0.3269905	test: 0.5633945	best: 0.5629032 (386)	total: 13.6s	remaining: 20.3s
500:	learn: 0.3157862	test: 0.5620995	best: 0.5620995 (500)	total: 17.1s	remaining: 17s
600:	learn: 0.3077417	test: 0.5616757	best: 0.5616078 (597)	total: 20.4s	remaining: 13.5s
700:	learn: 0.2987793	test: 0.5619912	best: 0.5609449 (607)	total: 23.8s	remaining: 10.1s
800:	learn: 0.2923688	test: 0.5636192	best: 0.5609449 (607)	total: 27.1s	remaining: 6.72s
900:	learn: 0.2863276	test: 0.5648439	best: 0.5609449 (607)	total: 30.4s	remaining: 3.34s
999:	learn: 0.2797255	test: 0.5647160	best: 0.5609449 (607)	total: 33.6s	remaining: 0us

bestTest = 0.5609449291
bestIteration = 607

Shrink model to first 608 iterations.
0:	learn: 0.5952631	test: 0.6697529	best: 0.6697529 (0)	total: 34.1ms	remaining: 34s
100:	learn: 0.3676431	test: 0.5702795	best: 0.5700473 (98)	total: 3.46s	remaining: 30.8s
200:	learn: 0.3354787	test: 0.5597274	best: 0.5593094 (195)	total: 6.85s	remaining: 27.2s
300:	learn: 0.3195073	test: 0.5607796	best: 0.5588922 (259)	total: 10.1s	remaining: 23.5s
400:	learn: 0.3074022	test: 0.5610814	best: 0.5588922 (259)	total: 13.5s	remaining: 20.1s
500:	learn: 0.2977355	test: 0.5639913	best: 0.5588922 (259)	total: 17.2s	remaining: 17.1s
600:	learn: 0.2864779	test: 0.5683198	best: 0.5588922 (259)	total: 20.6s	remaining: 13.7s
700:	learn: 0.2793273	test: 0.5694397	best: 0.5588922 (259)	total: 23.8s	remaining: 10.2s
800:	learn: 0.2707233	test: 0.5702564	best: 0.5588922 (259)	total: 27.2s	remaining: 6.75s
900:	learn: 0.2611399	test: 0.5708248	best: 0.5588922 (259)	total: 30.6s	remaining: 3.36s
999:	learn: 0.2526651	test: 0.5732628	best: 0.5588922 (259)	total: 33.9s	remaining: 0us

bestTest = 0.558892211
bestIteration = 259

Shrink model to first 260 iterations.
(63682, 2)
0:	learn: 0.6237097	test: 0.6227515	best: 0.6227515 (0)	total: 15ms	remaining: 4.48s
100:	learn: 0.4042801	test: 0.3958616	best: 0.3958047 (90)	total: 1.5s	remaining: 2.95s
200:	learn: 0.4021290	test: 0.3966007	best: 0.3958047 (90)	total: 2.94s	remaining: 1.45s
299:	learn: 0.4005584	test: 0.3972863	best: 0.3958047 (90)	total: 4.32s	remaining: 0us

bestTest = 0.395804662
bestIteration = 90

Shrink model to first 91 iterations.
fbeta: 0.724646403851941
0    2626
1     697
Name: type_5, dtype: int64
0    2407
1     916
Name: type_5, dtype: int64

Fitting model 6
Data augmented
0    58484
1    58484
Name: type_6, dtype: int64
0:	learn: 0.5402965	test: 0.6111335	best: 0.6111335 (0)	total: 38.9ms	remaining: 38.8s
100:	learn: 0.2194825	test: 0.3565904	best: 0.3565904 (100)	total: 4.2s	remaining: 37.4s
200:	learn: 0.1927941	test: 0.3335179	best: 0.3335179 (200)	total: 8.34s	remaining: 33.2s
300:	learn: 0.1822351	test: 0.3270014	best: 0.3269745 (289)	total: 12s	remaining: 27.9s
400:	learn: 0.1731547	test: 0.3218171	best: 0.3216396 (398)	total: 15.6s	remaining: 23.3s
500:	learn: 0.1667305	test: 0.3197741	best: 0.3196193 (478)	total: 19.2s	remaining: 19.2s
600:	learn: 0.1606087	test: 0.3182452	best: 0.3176200 (596)	total: 23.1s	remaining: 15.3s
700:	learn: 0.1543697	test: 0.3149809	best: 0.3149809 (700)	total: 26.9s	remaining: 11.5s
800:	learn: 0.1505955	test: 0.3148549	best: 0.3142716 (744)	total: 30.4s	remaining: 7.55s
900:	learn: 0.1447221	test: 0.3140070	best: 0.3139912 (899)	total: 34.3s	remaining: 3.77s
999:	learn: 0.1417599	test: 0.3140202	best: 0.3136610 (934)	total: 37.9s	remaining: 0us

bestTest = 0.3136610027
bestIteration = 934

Shrink model to first 935 iterations.
0:	learn: 0.5325200	test: 0.6025917	best: 0.6025917 (0)	total: 42.1ms	remaining: 42s
100:	learn: 0.2038672	test: 0.3394469	best: 0.3394469 (100)	total: 4.11s	remaining: 36.6s
200:	learn: 0.1737666	test: 0.3186626	best: 0.3185007 (199)	total: 8.12s	remaining: 32.3s
300:	learn: 0.1606273	test: 0.3125369	best: 0.3125369 (300)	total: 11.9s	remaining: 27.6s
400:	learn: 0.1484676	test: 0.3087175	best: 0.3087175 (400)	total: 15.7s	remaining: 23.5s
500:	learn: 0.1369175	test: 0.3082213	best: 0.3077489 (465)	total: 19.9s	remaining: 19.8s
600:	learn: 0.1297361	test: 0.3088310	best: 0.3075906 (508)	total: 23.7s	remaining: 15.8s
700:	learn: 0.1253617	test: 0.3096533	best: 0.3075906 (508)	total: 27.5s	remaining: 11.7s
800:	learn: 0.1221263	test: 0.3107485	best: 0.3075906 (508)	total: 30.9s	remaining: 7.69s
900:	learn: 0.1172335	test: 0.3125938	best: 0.3075906 (508)	total: 34.8s	remaining: 3.82s
999:	learn: 0.1132093	test: 0.3142663	best: 0.3075906 (508)	total: 38.4s	remaining: 0us

bestTest = 0.3075906339
bestIteration = 508

Shrink model to first 509 iterations.
(63682, 2)
0:	learn: 0.5608920	test: 0.5594929	best: 0.5594929 (0)	total: 13.2ms	remaining: 3.96s
100:	learn: 0.2047056	test: 0.1999242	best: 0.1997750 (74)	total: 1.39s	remaining: 2.74s
200:	learn: 0.2030667	test: 0.2003217	best: 0.1997750 (74)	total: 2.83s	remaining: 1.39s
299:	learn: 0.2017621	test: 0.2007794	best: 0.1997750 (74)	total: 4.24s	remaining: 0us

bestTest = 0.1997749921
bestIteration = 74

Shrink model to first 75 iterations.
fbeta: 0.9100210653024375
0    3275
1      48
Name: type_6, dtype: int64
0    3044
1     279
Name: type_6, dtype: int64

Fitting model 7
Data augmented
0    60309
1    60309
Name: type_7, dtype: int64
0:	learn: 0.5555290	test: 0.6412313	best: 0.6412313 (0)	total: 39.6ms	remaining: 39.6s
100:	learn: 0.2013724	test: 0.3103018	best: 0.3103018 (100)	total: 4.25s	remaining: 37.8s
200:	learn: 0.1623342	test: 0.2788216	best: 0.2782007 (192)	total: 8.5s	remaining: 33.8s
300:	learn: 0.1457548	test: 0.2702047	best: 0.2702047 (300)	total: 12.5s	remaining: 28.9s
400:	learn: 0.1361379	test: 0.2660257	best: 0.2660257 (400)	total: 16.5s	remaining: 24.6s

# skl ensemble

In [ ]:
from sklearn.ensemble import RandomForestClassifier

models = []
knns = []
X_train, y_train, X_val, y_val = stratified_split_cached(features, target, 'split_cache.json')
print(X_train.shape)

for i in range(35):
    print('Fitting model', i)
    # print(X_train.columns)
    # model = cb.CatBoostRegressor(iterations=300, loss_function='RMSE', random_seed=SEED) #, learning_rate=0.1, 
                                  # l2_leaf_reg=100, bagging_temperature=10) # iterations=300, learning_rate=0.1, bagging_temperature=2 l2_leaf_reg=1, learning_rate=0.1)
    # pool_train, pool_val = make_pool(X_train, y_train[f'type_{i}']), make_pool(X_val, y_val[f'type_{i}'])
    # model.fit(pool_train, eval_set=pool_val, plot=False, verbose=100)
    model = RandomForestClassifier()
    print(X_train.columns, len(X_train.columns))
    model.fit(X_train, y_train[f'type_{i}'])
    knns.append(model)
    X_train[f'type_{i}'] = y_train[f'type_{i}'] # model.predict(X_train)
    # print(model.predict(X_val))
    # X_val[f'type_{i}'] = model.predict(X_val)

(60378, 29)
Fitting model 0
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags'],
      dtype='object') 29
Fitting model 1
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0'],
      dtype='object') 30
Fitting model 2
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1'],
      dtype='object') 31
Fitting model 3
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2'],
      dtype='object') 32
Fitting model 4
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3'],
      dtype='object') 33
Fitting model 5
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4'],
      dtype='object') 34
Fitting model 6
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5'],
      dtype='object') 35
Fitting model 7
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6'],
      dtype='object') 36
Fitting model 8
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7'],
      dtype='object') 37
Fitting model 9
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8'],
      dtype='object') 38
Fitting model 10
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9'],
      dtype='object') 39
Fitting model 11
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10'],
      dtype='object') 40
Fitting model 12
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11'],
      dtype='object') 41
Fitting model 13
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12'],
      dtype='object') 42
Fitting model 14
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13'],
      dtype='object') 43
Fitting model 15
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14'],
      dtype='object') 44
Fitting model 16
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15'],
      dtype='object') 45
Fitting model 17
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16'],
      dtype='object') 46
Fitting model 18
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17'],
      dtype='object') 47
Fitting model 19
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18'],
      dtype='object') 48
Fitting model 20
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19'],
      dtype='object') 49
Fitting model 21
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20'],
      dtype='object') 50
Fitting model 22
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21'],
      dtype='object') 51
Fitting model 23
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22'],
      dtype='object') 52
Fitting model 24
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23'],
      dtype='object') 53
Fitting model 25
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24'],
      dtype='object') 54
Fitting model 26
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25'],
      dtype='object') 55
Fitting model 27
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26'],
      dtype='object') 56
Fitting model 28
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27'],
      dtype='object') 57
Fitting model 29
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27', 'type_28'],
      dtype='object') 58
Fitting model 30
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27', 'type_28', 'type_29'],
      dtype='object') 59
Fitting model 31
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27', 'type_28', 'type_29', 'type_30'],
      dtype='object') 60
Fitting model 32
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27', 'type_28', 'type_29', 'type_30',
       'type_31'],
      dtype='object') 61
Fitting model 33
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',

In [ ]:
len(X_val.columns)

29

# MLJar

In [ ]:
automls = []

X_train, y_train, X_val, y_val = stratified_split_cached(features, target, 'split_cache.json')

for i in range(35):
    automl = AutoML(results_path=f"AutoMLs/AutoML_{i + 1}")
    X_train[f'type_{i}'] = y_train[f'type_{i}']
    X_val[f'type_{i}'] = automl.predict(X_val)
    print(i)
    automls.append(automl)

# for i in range(50, 62):
#     print(0)
#     automl = AutoML(results_path=f"AutoML_{i}")
#     X_train[f'type_{i - 34}'] = y_train[f'type_{i}']
#     X_val[f'type_{i - 34}'] = automl.predict(X_val)
#     print(i)
#     automls.append(automl)

In [ ]:
X_val.columns

Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27', 'type_28', 'type_29', 'type_30',
       'type_31', 'type_32', 'type_33', 'type_34'],
      dtype='object')

In [ ]:
X_train.shape, X_val.shape

((60378, 53), (6627, 53))

In [ ]:
from imblearn.over_sampling import SMOTE

smote = SMOTE()
X_sm, y_sm = smote.fit_resample(X_train, y_train['type_0'])
X_sm

,mean,median,std_left,min,max,std_right,std,flag_0_count,flag_1_count,flag_2_count,...,app,atm,pos,web,in,out,sub,mm,total,total_flags
0,3.544950e+07,1.316320e+07,7.754265e+07,12380,1098312208,108.508350,5.742443,57,0,35,...,122.000000,33.000000,7.000000,6.000000,253.000000,265.000000,1098299828,2.228631e+07,168.000000,461
1,2.085516e+07,2.544356e+06,3.834703e+07,2409,170421023,87.565945,6.509380,97,0,21,...,28.000000,21.000000,59.000000,28.000000,23.000000,161.000000,170418614,1.831081e+07,136.000000,179
2,1.506990e+07,2.655680e+06,5.225610e+07,37331,671071999,64.844801,6.554789,334,0,10,...,6.000000,12.000000,168.000000,0.000000,16.000000,376.000000,671034668,1.241422e+07,186.000000,391
3,2.424419e+07,1.153181e+07,4.460235e+07,100115,220204345,103.452385,6.367848,0,0,0,...,10.000000,0.000000,0.000000,13.000000,17.000000,30.000000,220104230,1.271239e+07,23.000000,11
4,5.120096e+07,5.231212e+06,7.478513e+07,153,199978074,91.157072,6.152720,4,0,0,...,2.000000,0.000000,0.000000,20.000000,22.000000,54.000000,199977921,4.596975e+07,22.000000,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75671,1.812006e+07,1.806865e+06,9.467230e+07,13045,1505140311,70.735143,5.050416,489,0,23,...,5.282923,37.770624,397.541959,1.848770,10.000000,538.751798,1505127265,1.631319e+07,442.444277,567
75672,3.883716e+07,1.382910e+06,1.344486e+08,10533,980450810,50.725831,4.485564,424,0,24,...,13.860242,25.334780,385.031400,18.383535,24.622973,466.908997,980440276,3.745425e+07,442.609957,474
75673,8.620434e+07,9.215106e+06,1.427771e+08,30008,936122723,80.620121,5.312969,64,0,14,...,0.000000,16.361771,47.489975,49.638229,31.085314,177.724008,936092714,7.698924e+07,113.489975,165
75674,2.237747e+07,1.065435e+06,3.669905e+07,20023,105804073,89.774830,5.631048,63,0,22,...,0.112390,26.100879,35.426538,0.112390,17.719025,87.358832,105784049,2.131203e+07,61.752197,112
75675,3.551157e+06,1.979813e+06,8.224524e+06,23150,145249626,108.850992,5.018114,517,0,0,...,24.185999,0.000000,465.493362,0.181400,243.324986,551.640272,145226476,1.571344e+06,489.860761,732

In [ ]:
y_sm.value_counts()

0    37838
1    37838
Name: type_0, dtype: int64

In [ ]:
len(automls)

24

In [ ]:
# automls = []

# X_train, y_train, X_val, y_val = stratified_split_cached(features, target, 'split_cache.json')
X_val_temp = X_val

for i in range(24, 35):
    print('Fitting model', i)
    # print(X_train.columns)
    # model = cb.CatBoostRegressor(iterations=300, loss_function='RMSE', random_seed=SEED) #, learning_rate=0.1, 
                                  # l2_leaf_reg=100, bagging_temperature=10) # iterations=300, learning_rate=0.1, bagging_temperature=2 l2_leaf_reg=1, learning_rate=0.1)
    # pool_train, pool_val = make_pool(X_train, y_train[f'type_{i}']), make_pool(X_val, y_val[f'type_{i}'])
    # model.fit(pool_train, eval_set=pool_val, plot=False, verbose=100)

    automl = AutoML(mode='Compete', algorithms=['Decision Tree', 'Extra Trees', 'LightGBM', 'CatBoost'],
                    start_random_models=5, total_time_limit=240, eval_metric='logloss')
    automl.fit(X_train, y_train[f'type_{i}'])
    preds = automl.predict(X_val)
    print('fbeta:', fbeta_score(y_val[f'type_{i}'], preds, beta=0.5, average='micro', zero_division=0))
    X_train[f'type_{i}'] = y_train[f'type_{i}'] # model.predict(X_train)
    X_val[f'type_{i}'] = automl.predict(X_val)
    print(X_val[f'type_{i}'].value_counts())
    # print(model.predict(X_val))
    # X_val[f'type_{i}'] = model.predict(X_val)
    automls.append(automl)

Fitting model 24
AutoML directory: AutoML_14
The task is binary_classification with evaluation metric logloss
AutoML will use algorithms: ['Decision Tree', 'Extra Trees', 'LightGBM', 'CatBoost']
AutoML will stack models
AutoML will ensemble available models
AutoML steps: ['adjust_validation', 'simple_algorithms', 'default_algorithms', 'not_so_random', 'golden_features', 'kmeans_features', 'insert_random_feature', 'features_selection', 'hill_climbing_1', 'hill_climbing_2', 'boost_on_errors', 'ensemble', 'stack', 'ensemble_stacked']
* Step adjust_validation will try to check up to 1 model
1_DecisionTree logloss 0.327355 trained in 2.66 seconds
Disable stacking for split validation
* Step simple_algorithms will try to check up to 2 models
2_DecisionTree logloss 0.32652 trained in 2.7 seconds
3_DecisionTree logloss 0.32652 trained in 2.62 seconds
* Step default_algorithms will try to check up to 3 models
4_Default_LightGBM logloss 0.321895 trained in 5.33 seconds
5_Default_CatBoost logloss 0.321068 trained in 7.18 seconds
6_Default_ExtraTrees logloss 0.323295 trained in 10.53 seconds
* Step not_so_random will try to check up to 12 models
7_LightGBM logloss 0.320855 trained in 5.44 seconds
11_CatBoost logloss 0.320039 trained in 16.34 seconds
15_ExtraTrees logloss 0.323181 trained in 8.13 seconds
8_LightGBM logloss 0.32784 trained in 3.7 seconds
12_CatBoost logloss 0.321616 trained in 8.95 seconds
16_ExtraTrees logloss 0.321935 trained in 24.49 seconds
9_LightGBM logloss 0.320068 trained in 5.75 seconds
13_CatBoost logloss 0.320262 trained in 8.93 seconds
17_ExtraTrees logloss 0.325179 trained in 26.49 seconds
Skip golden_features because of the time limit.
* Step kmeans_features will try to check up to 3 models
11_CatBoost_KMeansFeatures logloss 0.319428 trained in 40.94 seconds
Not enough time to perform features selection. Skip
Time needed for features selection ~ 52.0 seconds
Please increase total_time_limit to at least (576 seconds) to have features selection
Skip insert_random_feature because no parameters were generated.
Skip features_selection because no parameters were generated.
* Step hill_climbing_1 will try to check up to 19 models
18_CatBoost logloss 0.319821 trained in 56.1 seconds
Skip hill_climbing_2 because of the time limit.
* Step ensemble will try to check up to 1 model
Ensemble logloss 0.318417 trained in 3.32 seconds
AutoML fit time: 273.03 seconds
AutoML best model: Ensemble
fbeta: 0.8774709521653841
0    6608
1      19
Name: type_24, dtype: int64
Fitting model 25
AutoML directory: AutoML_29
The task is binary_classification with evaluation metric logloss
AutoML will use algorithms: ['Decision Tree', 'Extra Trees', 'LightGBM', 'CatBoost']
AutoML will stack models
AutoML will ensemble available models
AutoML steps: ['adjust_validation', 'simple_algorithms', 'default_algorithms', 'not_so_random', 'golden_features', 'kmeans_features', 'insert_random_feature', 'features_selection', 'hill_climbing_1', 'hill_climbing_2', 'boost_on_errors', 'ensemble', 'stack', 'ensemble_stacked']
* Step adjust_validation will try to check up to 1 model
1_DecisionTree logloss 0.394171 trained in 2.69 seconds
Disable stacking for split validation
* Step simple_algorithms will try to check up to 2 models
2_DecisionTree logloss 0.379604 trained in 2.93 seconds
3_DecisionTree logloss 0.379604 trained in 2.92 seconds
* Step default_algorithms will try to check up to 3 models
4_Default_LightGBM logloss 0.352958 trained in 6.77 seconds
5_Default_CatBoost logloss 0.354921 trained in 10.52 seconds
6_Default_ExtraTrees logloss 0.376882 trained in 11.18 seconds
* Step not_so_random will try to check up to 12 models
7_LightGBM logloss 0.355197 trained in 6.77 seconds
11_CatBoost logloss 0.352923 trained in 26.01 seconds
15_ExtraTrees logloss 0.374335 trained in 23.14 seconds
8_LightGBM logloss 0.356835 trained in 4.61 seconds
12_CatBoost logloss 0.354524 trained in 14.93 seconds
16_ExtraTrees logloss 0.363497 trained in 13.07 seconds
9_LightGBM logloss 0.353127 trained in 6.67 seconds
* Step golden_features will try to check up to 3 models
None 10
Add Golden Feature: type_9_sum_type_2
Add Golden Feature: type_4_sum_type_2
Add Golden Feature: type_9_sum_type_4
Add Golden Feature: type_14_sum_type_2
Add Golden Feature: type_23_sum_type_2
Add Golden Feature: type_3_sum_type_2
Add Golden Feature: type_4_diff_type_9
Add Golden Feature: type_16_sum_type_4
Add Golden Feature: type_14_sum_type_9
Add Golden Feature: type_17_sum_type_2
Created 10 Golden Features in 38.45 seconds.
4_Default_LightGBM_GoldenFeatures logloss 0.354864 trained in 45.57 seconds
Skip kmeans_features because of the time limit.
Not enough time to perform features selection. Skip
Time needed for features selection ~ 47.0 seconds
Please increase total_time_limit to at least (527 seconds) to have features selection
Skip insert_random_feature because no parameters were generated.
Skip features_selection because no parameters were generated.
* Step hill_climbing_1 will try to check up to 18 models
17_CatBoost logloss 0.353473 trained in 21.37 seconds
* Step hill_climbing_2 will try to check up to 15 models
18_CatBoost logloss 0.352463 trained in 38.83 seconds
* Step ensemble will try to check up to 1 model
Ensemble logloss 0.351249 trained in 3.19 seconds
AutoML fit time: 272.62 seconds
AutoML best model: Ensemble
fbeta: 0.7926663648709823
0    6585
1      42
Name: type_25, dtype: int64
Fitting model 26
AutoML directory: AutoML_30
The task is binary_classification with evaluation metric logloss
AutoML will use algorithms: ['Decision Tree', 'Extra Trees', 'LightGBM', 'CatBoost']
AutoML will stack models
AutoML will ensemble available models
AutoML steps: ['adjust_validation', 'simple_algorithms', 'default_algorithms', 'not_so_random', 'golden_features', 'kmeans_features', 'insert_random_feature', 'features_selection', 'hill_climbing_1', 'hill_climbing_2', 'boost_on_errors', 'ensemble', 'stack', 'ensemble_stacked']
* Step adjust_validation will try to check up to 1 model
1_DecisionTree logloss 0.14546 trained in 2.91 seconds
Disable stacking for split validation
* Step simple_algorithms will try to check up to 2 models
2_DecisionTree logloss 0.144949 trained in 3.04 seconds
3_DecisionTree logloss 0.144949 trained in 3.09 seconds
* Step default_algorithms will try to check up to 3 models
4_Default_LightGBM logloss 0.12521 trained in 7.94 seconds
5_Default_CatBoost logloss 0.125569 trained in 9.29 seconds
6_Default_ExtraTrees logloss 0.142378 trained in 10.93 seconds
* Step not_so_random will try to check up to 12 models
7_LightGBM logloss 0.124973 trained in 7.22 seconds
11_CatBoost logloss 0.126295 trained in 22.81 seconds
15_ExtraTrees logloss 0.141686 trained in 22.54 seconds
8_LightGBM logloss 0.133329 trained in 4.9 seconds
12_CatBoost logloss 0.126132 trained in 12.44 seconds
16_ExtraTrees logloss 0.134362 trained in 23.2 seconds
* Step golden_features will try to check up to 3 models
None 10
Add Golden Feature: type_10_sum_type_3
Add Golden Feature: type_10_diff_type_11
Add Golden Feature: type_8_diff_type_10
Add Golden Feature: type_25_sum_type_10
Add Golden Feature: type_10_diff_type_22
Add Golden Feature: type_5_diff_type_10
Add Golden Feature: type_10_diff_type_18
Add Golden Feature: type_10_diff_type_13
Add Golden Feature: type_21_sum_type_10
Add Golden Feature: type_0_diff_type_10
Created 10 Golden Features in 29.07 seconds.
7_LightGBM_GoldenFeatures logloss 0.125439 trained in 36.78 seconds
Skip kmeans_features because of the time limit.
Not enough time to perform features selection. Skip
Time needed for features selection ~ 51.0 seconds
Please increase total_time_limit to at least (574 seconds) to have features selection
Skip insert_random_feature because no parameters were generated.
Skip features_selection because no parameters were generated.
* Step hill_climbing_1 will try to check up to 14 models
17_LightGBM logloss 0.12512 trained in 6.84 seconds
18_LightGBM logloss 0.126106 trained in 7.79 seconds
19_LightGBM logloss 0.124821 trained in 7.35 seconds
20_LightGBM_GoldenFeatures logloss 0.126033 trained in 6.05 seconds
* Step hill_climbing_2 will try to check up to 15 models
21_LightGBM logloss 0.125242 trained in 5.93 seconds
22_LightGBM logloss 0.125238 trained in 7.32 seconds
* Step ensemble will try to check up to 1 model
Ensemble logloss 0.123373 trained in 3.59 seconds
AutoML fit time: 248.08 seconds
AutoML best model: Ensemble
fbeta: 0.9385845782405312
0    6474
1     153
Name: type_26, dtype: int64
Fitting model 27
AutoML directory: AutoML_31
The task is binary_classification with evaluation metric logloss
AutoML will use algorithms: ['Decision Tree', 'Extra Trees', 'LightGBM', 'CatBoost']
AutoML will stack models
AutoML will ensemble available models
AutoML steps: ['adjust_validation', 'simple_algorithms', 'default_algorithms', 'not_so_random', 'golden_features', 'kmeans_features', 'insert_random_feature', 'features_selection', 'hill_climbing_1', 'hill_climbing_2', 'boost_on_errors', 'ensemble', 'stack', 'ensemble_stacked']
* Step adjust_validation will try to check up to 1 model
1_DecisionTree logloss 0.222453 trained in 3.17 seconds
Disable stacking for split validation
* Step simple_algorithms will try to check up to 2 models
2_DecisionTree logloss 0.221793 trained in 3.35 seconds
3_DecisionTree logloss 0.221793 trained in 3.3 seconds
* Step default_algorithms will try to check up to 3 models
4_Default_LightGBM logloss 0.212633 trained in 5.82 seconds
5_Default_CatBoost logloss 0.211329 trained in 9.78 seconds
6_Default_ExtraTrees logloss 0.219645 trained in 11.6 seconds
* Step not_so_random will try to check up to 12 models
7_LightGBM logloss 0.211717 trained in 6.03 seconds
11_CatBoost logloss 0.210916 trained in 17.81 seconds
15_ExtraTrees logloss 0.2183 trained in 9.75 seconds
8_LightGBM logloss 0.216397 trained in 4.71 seconds
12_CatBoost logloss 0.209361 trained in 13.94 seconds
16_ExtraTrees logloss 0.215404 trained in 24.48 seconds
9_LightGBM logloss 0.211762 trained in 6.14 seconds
13_CatBoost logloss 0.20988 trained in 12.21 seconds
* Step golden_features will try to check up to 3 models
None 10
Add Golden Feature: type_8_sum_type_5
Add Golden Feature: type_5_sum_type_0
Add Golden Feature: type_8_sum_type_0
Add Golden Feature: type_5_diff_type_10
Add Golden Feature: type_5_sum_type_1
Add Golden Feature: type_5_diff_type_21
Add Golden Feature: type_5_sum_flag_11_count
Add Golden Feature: type_13_sum_type_5
Add Golden Feature: type_5_diff_type_26
Add Golden Feature: type_1_sum_type_0
Created 10 Golden Features in 30.52 seconds.
12_CatBoost_GoldenFeatures logloss 0.210863 trained in 40.57 seconds
Skip kmeans_features because of the time limit.
Not enough time to perform features selection. Skip
Time needed for features selection ~ 49.0 seconds
Please increase total_time_limit to at least (548 seconds) to have features selection
Skip insert_random_feature because no parameters were generated.
Skip features_selection because no parameters were generated.
* Step hill_climbing_1 will try to check up to 15 models
17_CatBoost logloss 0.210977 trained in 17.36 seconds
* Step hill_climbing_2 will try to check up to 18 models
18_CatBoost logloss 0.210533 trained in 9.75 seconds
19_CatBoost logloss 0.210688 trained in 14.81 seconds
* Step ensemble will try to check up to 1 model
Ensemble logloss 0.208299 trained in 3.56 seconds
AutoML fit time: 252.77 seconds
AutoML best model: Ensemble
fbeta: 0.9182133695488155
0    6545
1      82
Name: type_27, dtype: int64
Fitting model 28
AutoML directory: AutoML_32
The task is binary_classification with evaluation metric logloss
AutoML will use algorithms: ['Decision Tree', 'Extra Trees', 'LightGBM', 'CatBoost']
AutoML will stack models
AutoML will ensemble available models
AutoML steps: ['adjust_validation', 'simple_algorithms', 'default_algorithms', 'not_so_random', 'golden_features', 'kmeans_features', 'insert_random_feature', 'features_selection', 'hill_climbing_1', 'hill_climbing_2', 'boost_on_errors', 'ensemble', 'stack', 'ensemble_stacked']
* Step adjust_validation will try to check up to 1 model
1_DecisionTree logloss 0.25816 trained in 3.59 seconds
Disable stacking for split validation
* Step simple_algorithms will try to check up to 2 models
2_DecisionTree logloss 0.256194 trained in 3.78 seconds
3_DecisionTree logloss 0.256194 trained in 3.77 seconds
* Step default_algorithms will try to check up to 3 models
4_Default_LightGBM logloss 0.241041 trained in 7.67 seconds
5_Default_CatBoost logloss 0.242101 trained in 8.1 seconds
6_Default_ExtraTrees logloss 0.254165 trained in 12.41 seconds
* Step not_so_random will try to check up to 12 models
7_LightGBM logloss 0.241445 trained in 7.5 seconds
11_CatBoost logloss 0.239971 trained in 25.34 seconds
15_ExtraTrees logloss 0.255042 trained in 17.75 seconds
8_LightGBM logloss 0.247972 trained in 5.2 seconds
12_CatBoost logloss 0.240092 trained in 17.72 seconds
16_ExtraTrees logloss 0.248417 trained in 15.88 seconds
* Step golden_features will try to check up to 3 models
None 10
Add Golden Feature: type_27_sum_type_16
Add Golden Feature: type_16_diff_type_26
Add Golden Feature: type_16_sum_type_5
Add Golden Feature: type_16_diff_type_21
Add Golden Feature: type_16_sum_flag_7_count
Add Golden Feature: type_6_diff_type_16
Add Golden Feature: type_8_diff_type_16
Add Golden Feature: type_10_diff_type_16
Add Golden Feature: type_3_diff_type_16
Add Golden Feature: type_16_sum_flag_6_count
Created 10 Golden Features in 31.75 seconds.
12_CatBoost_GoldenFeatures logloss 0.24216 trained in 43.67 seconds
Skip kmeans_features because of the time limit.
Not enough time to perform features selection. Skip
Time needed for features selection ~ 64.0 seconds
Please increase total_time_limit to at least (701 seconds) to have features selection
Skip insert_random_feature because no parameters were generated.
Skip features_selection because no parameters were generated.
* Step hill_climbing_1 will try to check up to 15 models
17_CatBoost logloss 0.239876 trained in 42.98 seconds
Skip hill_climbing_2 because of the time limit.
* Step ensemble will try to check up to 1 model
Ensemble logloss 0.238776 trained in 2.75 seconds
AutoML fit time: 245.77 seconds
AutoML best model: Ensemble
fbeta: 0.9115738644937379
0    6627
Name: type_28, dtype: int64
Fitting model 29
AutoML directory: AutoML_33
The task is binary_classification with evaluation metric logloss
AutoML will use algorithms: ['Decision Tree', 'Extra Trees', 'LightGBM', 'CatBoost']
AutoML will stack models
AutoML will ensemble available models
AutoML steps: ['adjust_validation', 'simple_algorithms', 'default_algorithms', 'not_so_random', 'golden_features', 'kmeans_features', 'insert_random_feature', 'features_selection', 'hill_climbing_1', 'hill_climbing_2', 'boost_on_errors', 'ensemble', 'stack', 'ensemble_stacked']
* Step adjust_validation will try to check up to 1 model
1_DecisionTree logloss 0.196566 trained in 3.92 seconds
Disable stacking for split validation
* Step simple_algorithms will try to check up to 2 models
2_DecisionTree logloss 0.197074 trained in 3.92 seconds
3_DecisionTree logloss 0.197074 trained in 4.03 seconds
* Step default_algorithms will try to check up to 3 models
4_Default_LightGBM logloss 0.186783 trained in 6.07 seconds
5_Default_CatBoost logloss 0.187122 trained in 8.09 seconds
6_Default_ExtraTrees logloss 0.193595 trained in 13.37 seconds
* Step not_so_random will try to check up to 12 models
7_LightGBM logloss 0.187427 trained in 6.84 seconds
11_CatBoost logloss 0.188088 trained in 16.06 seconds
15_ExtraTrees logloss 0.193551 trained in 10.71 seconds
8_LightGBM logloss 0.194936 trained in 5.1 seconds
12_CatBoost logloss 0.187012 trained in 11.31 seconds
16_ExtraTrees logloss 0.191075 trained in 15.9 seconds
9_LightGBM logloss 0.188512 trained in 7.4 seconds
13_CatBoost logloss 0.188195 trained in 8.73 seconds
17_ExtraTrees logloss 0.195846 trained in 12.35 seconds
* Step golden_features will try to check up to 3 models
None 10
Add Golden Feature: type_8_sum_type_5
Add Golden Feature: type_5_sum_type_0
Add Golden Feature: type_8_sum_type_0
Add Golden Feature: type_13_sum_type_8
Add Golden Feature: type_13_sum_type_0
Add Golden Feature: type_2_diff_type_8
Add Golden Feature: type_8_diff_type_16
Add Golden Feature: type_2_diff_type_5
Add Golden Feature: type_5_diff_type_16
Add Golden Feature: type_0_diff_type_2
Created 10 Golden Features in 56.25 seconds.
4_Default_LightGBM_GoldenFeatures logloss 0.18705 trained in 63.41 seconds
Skip kmeans_features because of the time limit.
Not enough time to perform features selection. Skip
Time needed for features selection ~ 44.0 seconds
Please increase total_time_limit to at least (503 seconds) to have features selection
Skip insert_random_feature because no parameters were generated.
Skip features_selection because no parameters were generated.
Skip hill_climbing_1 because of the time limit.
* Step hill_climbing_2 will try to check up to 19 models
18_LightGBM logloss 0.186849 trained in 7.88 seconds
19_LightGBM logloss 0.188217 trained in 7.39 seconds
* Step ensemble will try to check up to 1 model
Ensemble logloss 0.185538 trained in 3.44 seconds
AutoML fit time: 249.97 seconds
AutoML best model: Ensemble
fbeta: 0.9123283537045421
0    6376
1     251
Name: type_29, dtype: int64
Fitting model 30
AutoML directory: AutoML_34
The task is binary_classification with evaluation metric logloss
AutoML will use algorithms: ['Decision Tree', 'Extra Trees', 'LightGBM', 'CatBoost']
AutoML will stack models
AutoML will ensemble available models
AutoML steps: ['adjust_validation', 'simple_algorithms', 'default_algorithms', 'not_so_random', 'golden_features', 'kmeans_features', 'insert_random_feature', 'features_selection', 'hill_climbing_1', 'hill_climbing_2', 'boost_on_errors', 'ensemble', 'stack', 'ensemble_stacked']
* Step adjust_validation will try to check up to 1 model
1_DecisionTree logloss 0.55996 trained in 4.25 seconds
Disable stacking for split validation
* Step simple_algorithms will try to check up to 2 models
2_DecisionTree logloss 0.553054 trained in 4.36 seconds
3_DecisionTree logloss 0.553054 trained in 4.36 seconds
* Step default_algorithms will try to check up to 3 models
4_Default_LightGBM logloss 0.525835 trained in 7.98 seconds
5_Default_CatBoost logloss 0.52646 trained in 10.07 seconds
6_Default_ExtraTrees logloss 0.560933 trained in 13.8 seconds
* Step not_so_random will try to check up to 12 models
7_LightGBM logloss 0.527507 trained in 9.4 seconds
11_CatBoost logloss 0.524968 trained in 21.65 seconds
15_ExtraTrees logloss 0.567941 trained in 12.31 seconds
8_LightGBM logloss 0.529236 trained in 6.05 seconds
12_CatBoost logloss 0.526669 trained in 12.92 seconds
16_ExtraTrees logloss 0.54454 trained in 28.57 seconds
* Step golden_features will try to check up to 3 models
None 10
Add Golden Feature: type_0_sum_flag_11_count
Add Golden Feature: flag_11_count_diff_type_0
Add Golden Feature: type_20_sum_type_0
Add Golden Feature: type_28_sum_type_0
Add Golden Feature: type_12_sum_type_0
Add Golden Feature: type_0_multiply_total_flags
Add Golden Feature: total_flags_ratio_type_0
Add Golden Feature: type_0_ratio_total_flags
Add Golden Feature: type_29_sum_type_0
Add Golden Feature: type_0_diff_type_23
Created 10 Golden Features in 55.3 seconds.
11_CatBoost_GoldenFeatures logloss 0.525573 trained in 81.08 seconds
Skip kmeans_features because of the time limit.
Not enough time to perform features selection. Skip
Time needed for features selection ~ 70.0 seconds
Please increase total_time_limit to at least (762 seconds) to have features selection
Skip insert_random_feature because no parameters were generated.
Skip features_selection because no parameters were generated.
Skip hill_climbing_1 because of the time limit.
* Step hill_climbing_2 will try to check up to 15 models
21_LightGBM logloss 0.525135 trained in 8.7 seconds

In [ ]:
automls

[AutoML(results_path='AutoMLs/AutoML_1'),
 AutoML(results_path='AutoMLs/AutoML_2'),
 AutoML(results_path='AutoMLs/AutoML_3'),
 AutoML(results_path='AutoMLs/AutoML_4'),
 AutoML(results_path='AutoMLs/AutoML_5'),
 AutoML(results_path='AutoMLs/AutoML_6'),
 AutoML(results_path='AutoMLs/AutoML_7'),
 AutoML(results_path='AutoMLs/AutoML_8'),
 AutoML(results_path='AutoMLs/AutoML_9'),
 AutoML(results_path='AutoMLs/AutoML_10'),
 AutoML(results_path='AutoMLs/AutoML_11'),
 AutoML(results_path='AutoMLs/AutoML_12'),
 AutoML(results_path='AutoMLs/AutoML_13'),
 AutoML(results_path='AutoMLs/AutoML_14'),
 AutoML(results_path='AutoMLs/AutoML_15'),
 AutoML(results_path='AutoMLs/AutoML_16'),
 AutoML(results_path='AutoMLs/AutoML_17'),
 AutoML(results_path='AutoMLs/AutoML_18'),
 AutoML(results_path='AutoMLs/AutoML_19'),
 AutoML(results_path='AutoMLs/AutoML_20'),
 AutoML(results_path='AutoMLs/AutoML_21'),
 AutoML(results_path='AutoMLs/AutoML_22'),
 AutoML(results_path='AutoMLs/AutoML_23'),
 AutoML(results_path='AutoMLs/AutoML_24'),
 AutoML(results_path='AutoMLs/AutoML_25'),
 AutoML(results_path='AutoMLs/AutoML_26'),
 AutoML(results_path='AutoMLs/AutoML_27'),
 AutoML(results_path='AutoMLs/AutoML_28'),
 AutoML(results_path='AutoMLs/AutoML_29'),
 AutoML(results_path='AutoMLs/AutoML_30'),
 AutoML(results_path='AutoMLs/AutoML_31'),
 AutoML(results_path='AutoMLs/AutoML_32'),
 AutoML(results_path='AutoMLs/AutoML_33'),
 AutoML(results_path='AutoMLs/AutoML_34'),
 AutoML(results_path='AutoMLs/AutoML_35')]

Saved: AutoML_16 - AutoML_28

In [ ]:
['Decision Tree', 'Extra Trees', 'LightGBM', 'Xgboost', 'CatBoost', 'Nearest Neighbors']

# LightAutoML

In [ ]:
lmls = []

X_train, y_train, X_val, y_val = stratified_split_cached(features, target, 'split_cache.json')

for i in range(35):
    print('Fitting model', i)
    # print(X_train.columns)
    # model = cb.CatBoostRegressor(iterations=300, loss_function='RMSE', random_seed=SEED) #, learning_rate=0.1, 
                                  # l2_leaf_reg=100, bagging_temperature=10) # iterations=300, learning_rate=0.1, bagging_temperature=2 l2_leaf_reg=1, learning_rate=0.1)
    # pool_train, pool_val = make_pool(X_train, y_train[f'type_{i}']), make_pool(X_val, y_val[f'type_{i}'])
    # model.fit(pool_train, eval_set=pool_val, plot=False, verbose=100)
    task = Task('binary')
    N_THREADS = 4
    N_FOLDS = 5
    RANDOM_STATE = 25
    TEST_SIZE = 0.2
    TIMEOUT = 300
    TARGET_NAME = f'type_{i}'
    roles = {
        'target': TARGET_NAME,
        # 'drop': ['SK_ID_CURR']
    }
    lml = TabularAutoML(
        task=task,
        timeout=TIMEOUT,
        cpu_limit=N_THREADS,
        reader_params={'n_jobs': N_THREADS, 'cv': N_FOLDS, 'random_state': RANDOM_STATE}
    )
    df = pd.concat([X_train, y_train[f'type_{i}']], axis=1)
    # print(X_train.columns, len(X_train.columns))
    lml.fit(df, roles=roles, verbose=2)
    lmls.append(lml)
    X_train[f'type_{i}'] = y_train[f'type_{i}'] # model.predict(X_train)
    # print(model.predict(X_val))
    # X_val[f'type_{i}'] = model.predict(X_val)

# Проверяем качество модели на валидации

Catboost predict function

In [ ]:
def predict(X, models, models_inv, clfs):
    # preds = []
    # probs = []
    # probs_inv = []
    res = []
    i = 0
    for model, model_inv, clf in zip(models, models_inv, clfs): 
        print(i)
        print(X.columns)
        # preds.append(model.predict(X)) # (make_pool(X)))
        # X[f'type_{i}'] = preds[i]
        # X[f'type_{i}_inv'] = model_inv.predict(X)
        # probs.append(model.predict_proba(X))
        # probs_inv.append(model_inv.predict_proba(X))
        # print(X.columns)
        # X_train[f'type_{i}'] = y_train[f'type_{i}'] # model.predict(X_train)
        # X_train[f'type_{i}_inv'] = y_train[f'type_{i}_inv']
        probs = pd.DataFrame(np.array(model.predict_proba(X))) #.transpose(1, 2, 0).reshape(X_train.shape[0], 70))
        probs_inv = pd.DataFrame(np.array(model_inv.predict_proba(X))).rename(columns={0: 2, 1: 3})
        df = pd.concat([probs, probs_inv], axis=1)
        X[f'type_{i}'] = clf.predict(df)
        res.append(X[f'type_{i}'])
        i += 1

    print(res)
    preds = pd.DataFrame(np.array(res).transpose(1, 0), index=X.index, columns=[f'type_{i}' for i in range(35)]).astype(int)
    # print(np.array(probs).shape, np.array(probs).T.shape, np.array(probs).T.T.shape)
    # print(np.array(probs).transpose(1, 2, 0).reshape(6627, 70).shape)
    # probs = pd.DataFrame(np.array(probs).transpose(1, 2, 0).reshape(6627, 70))
    # probs_inv = pd.DataFrame(np.array(probs_inv).transpose(1, 2, 0).reshape(6627, 70))
    # print(0)
    return preds #, probs, probs_inv

MLJar prediction func

In [ ]:
def predict(X, clfs):
    res = []
    i = 0
    idx = X.index
    for clf in clfs: 
        print(i)
        # print(X.columns)
        res.append(clf.predict(X)) # (make_pool(X)))
        X[f'type_{i}'] = res[i]
        # X[f'type_{i}_inv'] = model_inv.predict(X)
        # probs.append(model.predict_proba(X))
        # probs_inv.append(model_inv.predict_proba(X))
        # print(X.columns)
        # X_train[f'type_{i}'] = y_train[f'type_{i}'] # model.predict(X_train)
        # X_train[f'type_{i}_inv'] = y_train[f'type_{i}_inv']
        # probs = pd.DataFrame(np.array(model.predict_proba(X))) #.transpose(1, 2, 0).reshape(X_train.shape[0], 70))
        # probs_inv = pd.DataFrame(np.array(model_inv.predict_proba(X))).rename(columns={0: 2, 1: 3})
        # df = pd.concat([probs, probs_inv], axis=1)
        # X[f'type_{i}'] = clf.predict(df)
        # res.append(X[f'type_{i}'])
        i += 1

    print(res)
    print(X.index)
    preds = pd.DataFrame(np.array(res).transpose(1, 0), index=idx, columns=[f'type_{i}' for i in range(35)]).astype(int)
    # print(np.array(probs).shape, np.array(probs).T.shape, np.array(probs).T.T.shape)
    # print(np.array(probs).transpose(1, 2, 0).reshape(6627, 70).shape)
    # probs = pd.DataFrame(np.array(probs).transpose(1, 2, 0).reshape(6627, 70))
    # probs_inv = pd.DataFrame(np.array(probs_inv).transpose(1, 2, 0).reshape(6627, 70))
    # print(0)
    return preds #, probs, probs_inv

In [ ]:
# print(knns)
X_train, y_train, X_val, y_val = stratified_split_cached(features, target, cache)
preds = predict(X_val, models, models_inv, clfs)
preds

0
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags'],
      dtype='object')
1
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0'],
      dtype='object')
2
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1'],
      dtype='object')
3
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2'],
      dtype='object')
4
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3'],
      dtype='object')
5
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4'],
      dtype='object')
6
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5'],
      dtype='object')
7
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6'],
      dtype='object')
8
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7'],
      dtype='object')
9
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8'],
      dtype='object')
10
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9'],
      dtype='object')
11
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10'],
      dtype='object')
12
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11'],
      dtype='object')
13
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12'],
      dtype='object')
14
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13'],
      dtype='object')
15
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14'],
      dtype='object')
16
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15'],
      dtype='object')
17
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16'],
      dtype='object')
18
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17'],
      dtype='object')
19
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18'],
      dtype='object')
20
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19'],
      dtype='object')
21
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20'],
      dtype='object')
22
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21'],
      dtype='object')
23
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22'],
      dtype='object')
24
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23'],
      dtype='object')
25
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24'],
      dtype='object')
26
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25'],
      dtype='object')
27
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26'],
      dtype='object')
28
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27'],
      dtype='object')
29
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27', 'type_28'],
      dtype='object')
30
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27', 'type_28', 'type_29'],
      dtype='object')
31
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27', 'type_28', 'type_29', 'type_30'],
      dtype='object')
32
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27', 'type_28', 'type_29', 'type_30',
       'type_31'],
      dtype='object')
33
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',

,type_0,type_1,type_2,type_3,type_4,type_5,type_6,type_7,type_8,type_9,...,type_25,type_26,type_27,type_28,type_29,type_30,type_31,type_32,type_33,type_34
client_id,,,,,,,,,,,,,,,,,,,,,
467692,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
725233,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
411940,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
48344,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
691414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877775,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
870586,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
716050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
904959,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
340419,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X_val

,mean,median,std_left,min,max,std_right,std,flag_0_count,flag_1_count,flag_2_count,...,type_25,type_26,type_27,type_28,type_29,type_30,type_31,type_32,type_33,type_34
0,8.018193e+07,35150673.0,1.162911e+08,73,594908243,111.414450,6.299533,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1.782003e+08,166450463.5,1.873942e+08,31134,726200213,65.966823,4.649342,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5.818194e+07,40526128.0,6.463688e+07,238581,314723245,40.978346,5.508001,15,0,3,...,0,0,0,0,0,0,0,0,0,1
3,1.775031e+07,3203933.5,4.295851e+07,44610,376500259,112.715218,5.991767,43,0,26,...,0,0,0,0,0,0,0,1,0,0
4,1.564197e+07,11660683.5,1.796033e+07,64964,94829059,98.189549,5.420227,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6622,5.649328e+06,4141860.0,5.993685e+06,863,57939883,104.655057,3.329856,26,0,0,...,0,0,0,0,0,0,0,0,0,0
6623,1.001077e+07,488953.5,3.112839e+07,34985,186732089,22.930726,6.818342,102,0,0,...,0,0,0,0,0,0,0,0,0,0
6624,7.886940e+07,36277051.0,1.196606e+08,31694,988117205,118.044056,4.384319,16,0,4,...,0,0,0,0,1,1,0,0,0,0
6625,9.261000e+07,24745941.5,2.212943e+08,30760,1287661678,85.683423,3.596819,43,0,42,...,0,0,0,0,0,0,0,0,0,0
6626,1.201146e+07,4154109.0,2.946782e+07,4022,434779214,89.727032,6.656483,229,0,28,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
for i in range(35):
    print(preds[f'type_{i}'].value_counts())

In [ ]:
print(fbeta_score(y_val, preds, beta=0.5, average='micro', zero_division=0))

0.3385779725154352

# Загружаем тестовые данные

In [ ]:
payments_test = pd.read_csv(PAYMENTS_TEST_PATH, dtype=payments_dtypes)
payments_test

,client_id,contractor_id,is_outgoing,amount,dt_day,dt_hour,channel,flag_0,flag_1,flag_2,flag_3,flag_4,flag_5,flag_6,flag_7,flag_8,flag_9,flag_10,flag_11
0,303546,NaN,True,378449,50,2,NaN,False,False,False,True,False,False,False,False,False,False,False,False
1,59719,NaN,True,281527,267,2,pos,True,False,False,False,False,False,False,False,False,False,False,False
2,25428,90165,False,2105146744,294,9,NaN,False,False,False,False,False,False,False,False,False,False,False,False
3,766314,NaN,True,2156082,207,14,pos,True,False,False,False,False,False,False,False,False,False,False,False
4,465049,NaN,True,51694546,211,3,atm,True,False,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8553957,794745,773056,False,858062290,198,16,NaN,False,False,False,False,False,False,False,False,False,False,False,False
8553958,362168,904134,False,8540123,130,13,NaN,False,False,False,False,False,False,False,False,False,False,False,False
8553959,500006,471487,False,65346645,196,12,NaN,False,False,False,False,False,False,False,False,False,False,False,False
8553960,653741,NaN,True,3296030,43,0,NaN,True,False,False,False,False,False,False,False,False,False,False,False
8553961,116407,NaN,True,171711,362,3,pos,True,False,False,False,False,False,False,False,False,False,False,False

# Генерируем фичи для тестовых данных

In [ ]:
features_test = generate_features(payments_test)

        client_id contractor_id  is_outgoing      amount  dt_day  dt_hour  \
0          303546           NaN         True      378449      50        2
1           59719           NaN         True      281527     267        2
2           25428         90165        False  2105146744     294        9
3          766314           NaN         True     2156082     207       14
4          465049           NaN         True    51694546     211        3
...           ...           ...          ...         ...     ...      ...
8553957    794745        773056        False   858062290     198       16
8553958    362168        904134        False     8540123     130       13
8553959    500006        471487        False    65346645     196       12
8553960    653741           NaN         True     3296030      43        0
8553961    116407           NaN         True      171711     362        3

        channel  flag_0  flag_1  flag_2  ...  flag_8  flag_9  flag_10  \
0           NaN   False   False   False  ...   False   False    False
1           pos    True   False   False  ...   False   False    False
2           NaN   False   False   False  ...   False   False    False
3           pos    True   False   False  ...   False   False    False
4           atm    True   False    True  ...   False   False    False
...         ...     ...     ...     ...  ...     ...     ...      ...
8553957     NaN   False   False   False  ...   False   False    False
8553958     NaN   False   False   False  ...   False   False    False
8553959     NaN   False   False   False  ...   False   False    False
8553960     NaN    True   False   False  ...   False   False    False
8553961     pos    True   False   False  ...   False   False    False

         flag_11  app  atm  pos  web  in  out
0          False    0    0    0    0   0    1
1          False    0    0    1    0   0    1
2          False    0    0    0    0   1    0
3          False    0    0    1    0   0    1
4          False    0    1    0    0   0    1
...          ...  ...  ...  ...  ...  ..  ...
8553957    False    0    0    0    0   1    0
8553958    False    0    0    0    0   1    0
8553959    False    0    0    0    0   1    0
8553960    False    0    0    0    0   0    1
8553961    False    0    0    1    0   0    1

[8553962 rows x 25 columns]

In [ ]:
# features_test = features_test.join(pd.get_dummies(features_test['channel']))
features_test

,mean,median,std_left,min,max,std_right,std,flag_0_count,flag_1_count,flag_2_count,...,app,atm,pos,web,in,out,sub,mm,total,total_flags
client_id,,,,,,,,,,,,,,,,,,,,,
100050,3.536920e+07,4800238.5,7.702827e+07,798,474601237,109.455485,5.887787,7,0,0,...,7.0,0.0,0.0,9.0,43.0,117.0,474600439,3.056896e+07,16.0,68
100128,2.074924e+08,42574180.0,5.213882e+08,2401,4263233615,98.462638,4.135433,0,0,0,...,44.0,0.0,0.0,1.0,19.0,78.0,4263231214,1.649182e+08,45.0,65
100159,1.516675e+08,79896060.0,2.081792e+08,17615,1348514255,111.647025,3.939866,0,0,0,...,0.0,0.0,0.0,434.0,298.0,448.0,1348496640,7.177142e+07,434.0,116
10018,5.424148e+07,26540880.5,1.042072e+08,43,808270306,74.408455,3.836922,0,0,0,...,59.0,0.0,0.0,8.0,252.0,98.0,808270263,2.770060e+07,67.0,44
100237,2.005865e+08,50737877.0,3.939886e+08,31511,2521806684,61.305243,5.941169,16,0,12,...,34.0,12.0,4.0,11.0,17.0,89.0,2521775173,1.498486e+08,61.0,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999572,4.462335e+07,21529563.0,8.773594e+07,2137,1586323663,111.300051,3.980125,0,0,0,...,315.0,0.0,0.0,94.0,334.0,436.0,1586321526,2.309379e+07,409.0,181
99966,5.238860e+07,950112.0,2.225828e+08,578,2924402093,114.655475,5.666401,701,0,14,...,69.0,13.0,599.0,22.0,50.0,808.0,2924401515,5.143849e+07,703.0,794
999662,3.545021e+07,5060146.5,9.601183e+07,19606,947093072,91.680202,6.911623,232,0,20,...,0.0,20.0,169.0,84.0,69.0,331.0,947073466,3.039006e+07,273.0,301
999674,1.040799e+08,14518077.0,2.235370e+08,31020,2255212467,114.147976,6.681486,138,11,14,...,27.0,11.0,113.0,27.0,56.0,227.0,2255181447,8.956181e+07,178.0,218
999772,8.353536e+07,12082149.0,1.253218e+08,54333,657862315,70.795425,5.520225,43,0,43,...,0.0,89.0,0.0,12.0,27.0,123.0,657807982,7.145321e+07,101.0,176

# Предскажем значения для тестовых данных и сгенерируем сабмит

In [ ]:
# for i in range(35):
#     features_test[f'type_{i}'] = knns[i].predict(features_test)
# X_train, y_train, X_val, y_val = stratified_split_cached(features, target, 'split_cache.json')
preds_test = predict(features_test, models, models_inv, clfs)
preds_test

0
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags'],
      dtype='object')
1
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0'],
      dtype='object')
2
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1'],
      dtype='object')
3
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2'],
      dtype='object')
4
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3'],
      dtype='object')
5
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4'],
      dtype='object')
6
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5'],
      dtype='object')
7
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6'],
      dtype='object')
8
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7'],
      dtype='object')
9
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8'],
      dtype='object')
10
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9'],
      dtype='object')
11
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10'],
      dtype='object')
12
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11'],
      dtype='object')
13
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12'],
      dtype='object')
14
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13'],
      dtype='object')
15
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14'],
      dtype='object')
16
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15'],
      dtype='object')
17
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16'],
      dtype='object')
18
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17'],
      dtype='object')
19
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18'],
      dtype='object')
20
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19'],
      dtype='object')
21
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20'],
      dtype='object')
22
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21'],
      dtype='object')
23
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22'],
      dtype='object')
24
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23'],
      dtype='object')
25
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24'],
      dtype='object')
26
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25'],
      dtype='object')
27
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26'],
      dtype='object')
28
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27'],
      dtype='object')
29
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27', 'type_28'],
      dtype='object')
30
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27', 'type_28', 'type_29'],
      dtype='object')
31
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27', 'type_28', 'type_29', 'type_30'],
      dtype='object')
32
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',
       'type_25', 'type_26', 'type_27', 'type_28', 'type_29', 'type_30',
       'type_31'],
      dtype='object')
33
Index(['mean', 'median', 'std_left', 'min', 'max', 'std_right', 'std',
       'flag_0_count', 'flag_1_count', 'flag_2_count', 'flag_3_count',
       'flag_4_count', 'flag_5_count', 'flag_6_count', 'flag_7_count',
       'flag_8_count', 'flag_9_count', 'flag_10_count', 'flag_11_count', 'app',
       'atm', 'pos', 'web', 'in', 'out', 'sub', 'mm', 'total', 'total_flags',
       'type_0', 'type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_6',
       'type_7', 'type_8', 'type_9', 'type_10', 'type_11', 'type_12',
       'type_13', 'type_14', 'type_15', 'type_16', 'type_17', 'type_18',
       'type_19', 'type_20', 'type_21', 'type_22', 'type_23', 'type_24',

,type_0,type_1,type_2,type_3,type_4,type_5,type_6,type_7,type_8,type_9,...,type_25,type_26,type_27,type_28,type_29,type_30,type_31,type_32,type_33,type_34
client_id,,,,,,,,,,,,,,,,,,,,,
100050,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
100128,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100159,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10018,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
100237,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999572,1,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
99966,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
999662,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
999674,0,0,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,1,0,0,0
999772,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
preds_test.to_csv('submission_aug3.csv')